<div class="radio {{modifier_class}}">
  <input class="radio__input" type="radio" name="{{name}}" value="{{value}}" id="{{id}}">
  <label class="radio__label" for="{{id}}">
    {{#if image}}
      <img class="radio__image" src="{{image}}" alt="{{label}}" draggable="false" />
    {{/if}}
    {{label}}</label>
</div>
