<div class="input {{ modifier | default('') }}">

    {% if label is defined %}
    <label class="input__label" {% if id is defined %} for="{{ id }}" {% endif %}>
        {{ label }}
    </label>
    {% endif %}

    <div class="input__field">
        <input {% if id is defined %} id="{{ id }}{% endif %}"
            class="input__text" type="{{ type | default('text') }}"
            {% if placeholder is defined %}placeholder="{{ placeholder }}"{% endif %} {% if name is defined %}name="{{ name }}"{% endif %}
            autocorrect="off" autocapitalize="off"
            {% if value is defined %} value="{{value}}" {% endif %} {% if required is defined %} required="{{required}}" {% endif %}>

        {#<div class="input__error">
           Not a valid email address!
        </div>#}
    </div>

    {% if additional is defined %}
    <div class="input__additional">
        {{additional}}
    </div>
    {% endif %}
</div>