<div class="stepper">
    <label class="stepper__label" for="{{ id }}">
        {{ label }}
    </label>

    <input class="js-stepper" type="number" id={{ id }} name="{{ name }}" value="{{ value | default(1) }}">
</div>