<div class="address primary secondaryRow" data-validator-precondition="return $('#salesOrder_chooseDifferentBilling').is(':checked')">
    <h3>{{ 'checkout.headline.billing'|trans }}</h3>
    {{ form_row(form.billingAddress.idCustomerAddress) }}
    <div class="separate">
        <div class="row columns small-4 large-4">
            {{ form_row(form.billingAddress.salutation, {attr : {class : 'name fullWidth', 'data-src': 'salutation'}, label : 'checkout.address.billing.salutation'}) }}
        </div>
        <div class="row columns small-4 large-4">
            {{ form_row(form.billingAddress.firstName, {attr : {class : 'name fullWidth', 'data-src': 'middle_name'}, label : 'checkout.address.billing.name.first'}) }}
        </div>
        <div class="row columns small-4 large-4">
            {{ form_row(form.billingAddress.lastName, {attr : {class : 'name fullWidth', 'data-src': 'last_name'}, label : 'checkout.address.billing.name.last'}) }}
        </div>
    </div>
    <div class="row large-12">
        {{ form_row(form.billingAddress.company, {attr : {class : 'fullWidth'}, label : 'checkout.address.billing.company'}) }}
    </div>
    <div class="separate">
        <div class="row columns small-8 large-8">
            {{ form_row(form.billingAddress.address1, {attr : {class : 'fullWidth', 'data-src': 'route'}, label : 'checkout.address.billing.street'}) }}
        </div>
        <div class="row columns small-4 large-4">
            {{ form_row(form.billingAddress.address2, {attr : {class : 'fullWidth', 'data-src': 'street_number'}, label : 'checkout.address.billing.number'}) }}
        </div>
    </div>
    <div class="separate">
        <div class="row columns small-4 large-4">
            {{ form_row(form.billingAddress.zipcode, {attr : {class : 'fullWidth', 'data-src': 'postal_code'}, label: 'checkout.address.billing.zipcode'}) }}
        </div>
        <div class="row columns small-8 large-8">
            {{ form_row(form.billingAddress.city, {attr : {class : 'fullWidth', 'data-src': 'locality'}, label: 'checkout.address.billing.city'}) }}
        </div>
    </div>
    <div class="invisible row">
        {{ form_row(form.billingAddress.iso2Country, {attr : {class : 'fullWidth', 'data-src': 'country', 'data-src-type' : 'short'}, label: 'checkout.address.billing.country', 'value' : 'DE'}) }}
    </div>
</div>