<div class="address primary secondaryRow" data-validator-precondition="return $('#chooseDifferentBilling').is(':checked')">
    <h3>{{ 'checkout.headline.billing'|trans }}</h3>
    <div class="row first">
        {{ form_row(form.billingAddress.salutation, {attr : {class : 'name fullWidth', 'data-src': 'salutation'}, label : 'checkout.address.billing.salutation'}) }}
    </div>
    <div class="row middle">
        {{ form_row(form.billingAddress.firstName, {attr : {class : 'name fullWidth', 'data-src': 'middle_name'}, label : 'checkout.address.billing.name.first'}) }}
    </div>
    <div class="row last">
        {{ form_row(form.billingAddress.lastName, {attr : {class : 'name fullWidth', 'data-src': 'last_name'}, label : 'checkout.address.billing.name.last'}) }}
    </div>
    <div class="row">
        {{ form_row(form.billingAddress.company, {attr : {class : 'fullWidth'}, label : 'checkout.address.billing.company'}) }}
    </div>
    <div class="row first middle">
        {{ form_row(form.billingAddress.address1, {attr : {class : 'fullWidth', 'data-src': 'route'}, label : 'checkout.address.billing.street'}) }}
    </div>
    <div class="row last">
        {{ form_row(form.billingAddress.address2, {attr : {class : 'fullWidth', 'data-src': 'street_number'}, label : 'checkout.address.billing.number'}) }}
    </div>
    <div class="row first middle">
        {{ form_row(form.billingAddress.zipCode, {attr : {class : 'fullWidth', 'data-src': 'postal_code'}, label: 'checkout.address.billing.zipcode'}) }}
    </div>
    <div class="row last">
        {{ form_row(form.billingAddress.city, {attr : {class : 'fullWidth', 'data-src': 'locality'}, label: 'checkout.address.billing.city'}) }}
    </div>
    <div class="row">
        {{ form_row(form.billingAddress.iso2Country, {attr : {class : 'fullWidth', 'data-src': 'country', 'data-src-type' : 'short'}, label: 'checkout.address.billing.country'}) }}
    </div>
    <div class="row">
        {{ form_row(form.billingAddress.address3, {attr : {class : 'fullWidth', }, label : 'checkout.address.shipping.comment'}) }}
    </div>
    {% if userAddressesJson is not null %}
        <div class="row large-12">
            <button class="ok toggle-billing" type="button" onclick="app.checkout.address.toggleAddresses('billing');">{{ 'checkout.address.more'|trans }}</button>
            <button class="ok toggle-billing" type="button" style="display:none;" onclick="app.checkout.address.toggleAddresses('billing');">{{ 'checkout.address.less'|trans }}</button>
        </div>
    {% endif %}
    {% if userAddressesJson is not null %}
        <div id="billing" style="display:none;">
            {% include "@checkout/partials/user-addresses.twig" with {'userAddresses': userAddresses, 'userAddressesJson': userAddressesJson} only %}
        </div>
    {% endif %}
</div>
