{% if userAddressesJson is not null %}
    <div class="col fullWidth">
        <button class="ok" type="button" onclick="app.checkout.address.toggleOtherAddresses(this, '{{ addressType }}');" data-toggle="{{ 'checkout.address.less'|trans }}">
            {{- 'checkout.address.more'|trans -}}
        </button>
    </div>
    <div id="{{ addressType }}" class="other" style="display:none;">
        {% if userAddresses is defined %}
            {% for userAddress in userAddresses %}
                <div class="row">
                    <strong>{{ ('checkout.salutation.'~ userAddress.salutation|lower)|trans }} {{ userAddress.firstName }} {{ userAddress.lastName }}</strong><br>
                    {%- if userAddress.company -%}
                        {{- userAddress.company -}}<br>
                    {%- endif -%}
                    {%- if userAddress.comment -%}
                        {{- userAddress.comment -}}<br>
                    {%- endif -%}
                    {{- userAddress.address1 -}}, {{- userAddress.address2 -}}<br>
                    {{- userAddress.zipCode }} {{ userAddress.city -}}<br>
                    <button class="ok" type="button" onclick="app.checkout.address.fillFormWithData({{ userAddress.idCustomerAddress }}, {{ userAddressesJson }}, this);">
                        {{- 'checkout.address.use'|trans -}}
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}