<div class="details" data-associated-paymentmethod="payment.payone.creditcard_pseudo" data-validator-precondition="return $('[name=\'salesOrder[payment][method]\']:checked').val() === 'payment.payone.creditcard_pseudo'">
    <div class="row">
        {{ form_row(form.payment.creditCardType, {attr : {class : 'fullWidth'}, label : 'checkout.payment.creditCardType'}) }}
    </div>
    <div class="row">
        {{ form_row(form.payment.creditCardHolder, {attr : {class : 'fullWidth'}, label : 'checkout.payment.creditCardHolder'}) }}
    </div>
    <div class="row">
        {{ form_row(form.payment.creditCardPan, {attr : {class : 'fullWidth', maxlength : 16}, label : 'checkout.payment.creditCardPan'}) }}
    </div>
    <div class="row">
        <div class="multiple">
            <div class="col col25">
                {{ form_row(form.payment.creditCardCvc2, {attr : {class : 'fullWidth', maxlength : 3}, label : 'checkout.payment.creditCardCvc2'}) }}
            </div>
            <div class="col col15">&#160;</div>
            <div class="col col30">
                {{ form_row(form.payment.creditCardExpirationMonth, {attr : {class : 'fullWidth'}, label : 'checkout.payment.creditCardExpirationMonth'}) }}
            </div>
            <div class="col col30">
                {{ form_row(form.payment.creditCardExpirationYear, {attr : {class : 'fullWidth'}, label : 'checkout.payment.creditCardExpirationYear'}) }}
            </div>
        </div>
    </div>
</div>
<div class="details" data-associated-paymentmethod="payment.payone.direct_debit" data-validator-precondition="return $('[name=\'salesOrder[payment][method]\']:checked').val() === 'payment.payone.direct_debit'">
    <div class="row">
        {{ form_row(form.payment.bankAccountHolder, {attr : {class : 'fullWidth', maxlength : 16}, label : 'checkout.payment.bankAccountHolder'}) }}
    </div>
    <div class="row">
        {{ form_row(form.payment.bankAccount, {attr : {class : 'fullWidth'}, label : 'checkout.payment.bankAccount'}) }}
    </div>
    <div class="row">
        {{ form_row(form.payment.bankCode, {attr : {class : 'fullWidth', maxlength : 16}, label : 'checkout.payment.bankCode'}) }}
    </div>
</div>
<div class="details" data-associated-paymentmethod="payment.payone.sofort_ueberweisung" data-validator-precondition="return $('[name=\'salesOrder[payment][method]\']:checked').val() === 'payment.payone.sofort_ueberweisung'">
    <div class="row">
        {{ form_row(form.payment.bankAccountSofortUeberweisung, {attr : {class : 'fullWidth'}, label : 'checkout.payment.bankAccount'}) }}
    </div>
    <div class="row">
        {{ form_row(form.payment.bankCodeSofortUeberweisung, {attr : {class : 'fullWidth', maxlength : 16}, label : 'checkout.payment.bankCode'}) }}
    </div>
</div>