<div class="address primary col col33">
    <h3 id="shipping-billing-header" data-toggle="{{ 'checkout.headline.shipping'|trans }}">{{ 'checkout.headline.shipping.billing'|trans }}</h3>
    {{ form_row(form.shippingAddress.idCustomerAddress) }}
    <div class="col col34 first">
        {{ form_row(form.shippingAddress.salutation, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.salutation'}) }}
    </div>
    <div class="col col33 middle">
        {{ form_row(form.shippingAddress.firstName, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.name.first'}) }}
    </div>
    <div class="col col33 last">
        {{ form_row(form.shippingAddress.lastName, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.name.last'}) }}
    </div>
    <div class="col fullWidth" style="display:none;">
        {{ form_row(form.shippingAddress.middleName, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.name.middle'}) }}
    </div>
    <div class="col fullWidth">
        {{ form_row(form.shippingAddress.company, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.company'}) }}
    </div>
    <div class="col col67 first">
        {{ form_row(form.shippingAddress.address1, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.street'}) }}
    </div>
    <div class="col col33 last">
        {{ form_row(form.shippingAddress.address2, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.number'}) }}
    </div>
    <div class="col fullWidth">
        {{ form_row(form.shippingAddress.address3, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.address3', placeholder: 'checkout.address.shipping.address3.placeholder'}) }}
    </div>
    <div class="col col33 first">
        {{ form_row(form.shippingAddress.zipCode, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.zipcode'}) }}
    </div>
    <div class="col col67 last">
        {{ form_row(form.shippingAddress.city, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.city'}) }}
    </div>
    <div class="col fullWidth">
        {{ form_row(form.shippingAddress.iso2Country, {attr: {class: 'fullWidth', 'data-src': 'country', 'data-src-type': 'short'}, label: 'checkout.address.shipping.country'}) }}
    </div>
    <div class="col fullWidth">
        {{ form_row(form.shippingAddress.phone, {attr: {class: 'fullWidth'}, label: 'checkout.address.shipping.phone'}) }}
    </div>
    {#{% include "@checkout/partials/other-addresses.twig" with {'addressType': 'shipping', 'userAddresses':userAddresses, 'userAddressesJson':userAddressesJson} only %}#}
    <div class="col fullWidth">
        {{ form_row(form.email, {attr: {class: 'fullWidth'}, label: 'checkout.email'}) }}
    </div>
    <div class="col fullWidth">
        <label>
            {{ form_widget(form.chooseDifferentBilling, {attr: {class: 'toggle-different-billing-address'}, required:false}) }}
            {{- 'checkout.address.billing.different'|trans -}}
        </label>
    </div>
    {% include "@checkout/partials/billing-address.twig" with {'form':form, 'userAddresses':userAddresses, 'userAddressesJson':userAddressesJson} only %}
</div>
