{% extends "@customer/layout.twig" %}

{% block title %}
    <h3>Saved Carts</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@customer/partials/navigation.twig" with {active: 'cart'} %}
{% endblock %}

{% block customerContent %}
        <div class="row xlarge-unstack">
        <div class="columns">
            <div class="callout">
                <div class="row">
                    <div class="small-12 columns">
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for quote in quotes.quotes  %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('cart/detailed-list') }}?id={{ quote.customer.id_customer }}" class="{{ quote.items | length == 0 ? 'disabled' : '' }}">
                                                {{ quote.customer.first_name }} {{ quote.customer.last_name }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if quote.totals.subtotal is defined %}
                                                {{ quote.totals.subtotal | money }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="row">
                                                <form id="addToCart_{{ loop.index }}" method="POST" action="{{ path('cart/add-list-to-cart', {id_customer: quote.customer.id_customer}) }}">
                                                    <button type="submit" href="{{ path('cart/add-list-to-cart') }}" class="button float-right {{ quote.items | length == 0 ? 'disabled' : '' }}">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        Add all to my cart
                                                    </button>
                                                </form>
                                            </div>

                                            <div class="row">
                                                <form id="addToCart_{{ loop.index }}" method="POST" action="#">
                                                    <button type="submit" href="" class="button float-right warning">
                                                        Reject
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
