{% extends "@application/layout/layout.twig" %}

{% block title %}{{ product.pageTitle }}{% endblock %}

{% block content %}

    <article class="product product--justice-league">
        <section class="product__overview">
            {% if category is not null %}
            <h2 class="product__category">{{ category.name }}</h2>
            {% endif %}

            <h1 class="product__name">{{ product.abstractName }}</h1>

            <p>{{ product.description }}</p>

            <p class="product__price">{{ product.price|price }}</p>

            <form class="product__add-to-cart">
                {% include "@application/layout/partials/spinner.twig" with {class:"product__quantity", style:"caplet", name:"product__quantity", value:"1"} %}
                <input type="submit" class="product__add-button cta" value="{{ "detail.addToCart"|trans }}"></input>
            </form>
        </section>
        <section class="product__main-image">
            <img src="{{ product.image_url }}" alt="" style="width: 100%;"/>
        </section>
        <section class="product__details">
            <p>{{ product.fun_fact }}</p>

            <p>{{ product.description_long }}</p>
            <dl class="product__specifications">
                <dt>{{ "detail.dimensions"|trans }}</dt>
                <dd>{{ product.width }}x{{ product.height }}x{{ product.depth }} cm</dd>
                {% if product.material is not null %}
                <dt>{{ "detail.material"|trans }}</dt>
                <dd>{{ product.material }}</dd>
                {% endif %}
            </dl>
        </section>
        <section class="product__gallery">
            {% for image in product.images_detail %}
                <img src="{{ image }}" alt="">
            {% endfor %}
        </section>
        <section class="product__warnings">
            <p class="warning__under-3">{{ "detail.warning.riskOfSuffocation"|trans }}</p>
        </section>
    </article>
{% endblock %}
