{% extends "@application/layout/layout.twig" %}

{% block page_title %}{{ product.abstract_name }}{% endblock %}

{% block content %}
    <article class="product product--justice-league">
        <section class="product__overview">
            {% if category is not null %}
            <h2 class="product__category">{{ category.name }}</h2>
            {% endif %}

            <h1 class="product__name">{{ product.abstract_name }}</h1>

            <p>{{ product.description }}</p>

            <p class="product__price">{{ product.price | price }}</p>

            {% include "@application/layout/partials/spinner.twig" with {class:"product__quantity", style:"caplet", name:"quantity", value:"1"} %}
            <button class="product__add-button cta" data-sku="{{ product.abstractSku }}">{{ "page.detail.add-to-cart"|trans }}</button> <br />
            {#<a href="{{ path('wishlist/add', { sku: product.abstractSku }) }}">Add to Wishlist</a>#}
        </section>
        <section class="product__main-image">
            <img src="{{ product.image_big }}" alt="" style="width: 100%;"/>
        </section>
        <section class="product__details">
            <p>{{ product.abstractAttributes.short_description }}</p>

            <p>{{ product.abstractAttributes.long_description }}</p>
            <dl class="product__specifications">
                {% for attributeName, attributeValue in product.abstractAttributes %}
                    {% if attributeName not in ['short_description', 'long_description', 'url', 'variant_id', 'abstract_name', 'quantity', 'available', 'price', 'manufacturer_name', 'license', 'sku', 'images'] %}
                        <dt>{{ ('product.attribute.'~attributeName) | trans }}</dt>
                        <dd>{{ attributeValue }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </section>
        <br />

        <section class="product__details">
            {% if productOptionGroups is defined %}
        <p>{{ 'Product Options' | trans }}</p>
        <div id="product-options">
            {% for productOptionGroup in productOptionGroups.getProductOptionGroups %}
                <p>{{ productOptionGroup.name | trans }}</p>
                {% if productOptionGroup.productOptionValues | length > 1 %}
                    {% for productValue in productOptionGroup.productOptionValues %}
                        <input type="radio" name="product-option[{{ productOptionGroup.name }}]" value="{{ productValue.idProductOptionValue }}" id="product-option-{{ productValue.idProductOptionValue }}"> &nbsp;
                        <label for="product-option-{{ productValue.idProductOptionValue }}">{{ productValue.value|trans }} | {{ productValue.sku }} | {{ productValue.price | price }}</label> <br />
                    {% endfor %}
                {% else %}
                    {% set productValue = productOptionGroup.productOptionValues[0] %}
                    <input type="checkbox" name="product-option[{{ productOptionGroup.name }}]" value="{{ productValue.idProductOptionValue }}" id="product-option-{{ productValue.idProductOptionValue }}"> &nbsp;
                    <label for="product-option-{{ productValue.idProductOptionValue }}">{{ productValue.value|trans }} | {{ productValue.sku }} | {{ productValue.price | price }}</label> <br />
                {% endif %}
                <hr />
            {% endfor %}
        </div>
        {% endif %}

        </section>
        <section class="product__gallery">
            {% for image in product.abstractAttributes.images %}
                <img src="{{ image.external_url_large }}" alt="">
            {% endfor %}
        </section>
    </article>
{% endblock %}
