{% extends "@application/layout/full.twig" %}
{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/product.css" />
    <script src="/scripts/app/catalog.js"></script>{# @todo move this script to product #}

    <section class="consumeHeight" id="product">

        <ul id="breadcrumbs">
            <li><hardcoded><a href="/">Home</a></hardcoded></li>
            <li>{{ product.name }}</li>
        </ul>
        <aside class="assist col col25">
            <ul class="usps">
                <li><span class="glyphicon glyphicon-gift"></span>{{ 'catalog.usp.shipping'|trans }}</li>
                <li><span class="glyphicon glyphicon-refresh"></span>{{ 'catalog.usp.return'|trans }}</li>
            </ul>
            {#<ul class="social">#}
                {#<li class="facebook"></li>#}
                {#<li class="google"></li>#}
                {#<li class="twitter"></li>#}
                {#<li class="youtube"></li>#}
            {#</ul>#}
        </aside>

        <div class="pictures col col50">
            <div class="current">
                {#<div class="prev">#}
                    {#<hardcoded block>#}
                        {#<span class="glyphicon glyphicon-chevron-left"></span>#}
                    {#</hardcoded>#}
                {#</div>#}
                {#<div class="next">#}
                    {#<hardcoded block>#}
                        {#<span class="glyphicon glyphicon-chevron-right"></span>#}
                    {#</hardcoded>#}
                {#</div>#}
                {#{% if product.image_url %}#}
                    <img src="{{ product.image_url }}" alt="" />
                {#{% else %}#}
                    {#<img src="{{ getFirstProductImagesBySize(product.product_images, 'xxl') }}" alt="" />#}
                {#{% endif %}#}
            </div>
            {#<ul class="list">#}
                {#{% for image in getAllProductImagesBySize(product.product_images, 'm') %}#}
                    {#<li class="col col20">#}
                        {#<img class="col" src="{{ image }}" alt="" />#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        </div>

        <aside class="item col col25">
            <h3>{{ product.name }}</h3>
            <div class="itemDescription">{{ product.description }}</div>
            <div class="price">{{ product.price|price }}</div>

            {#{% if product.stock > 0 %}#}
                <form action="{{ url('/cart', {sku: product.sku} ) }}">
                    <input class="fullWidth" type="number" name="quantity" value="1" min="1" max="100" step="1" />
                    <!--input class="fullWidth" type="hidden" name="options[]" value="B1" USE this input(s) to add options to the cartitem /-->
                    <input class="submit fullWidth" type="submit" value="{{ 'catalog.buy'|trans }}" />
                </form>
            {#{% else %}#}
                {#<div class="unavailable">{{ 'catalog.out.of.stock'|trans }}</div>#}
            {#{% endif %}#}

        </aside>

        <hr />

        <aside class="col col45">
            <h4>{{ product.name }}</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
            <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p>
                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
        </aside>
        <aside class="col col10"></aside>
        <aside class="col col45">
            <h4>{{ 'catalog.product.more_information'|trans }}</h4>
            <table class="attributes">
                {% for attributeName, attributeValue in product.attributes %}
                    {% if not (attributeName in ['image_url',  'thumbnail_url', 'price', 'description', 'url', 'gender']) and not (attributeValue is empty) %}
                        {% set meassurement = ('catalog.product.attribute.' ~ attributeName ~ '.meassurement')|trans %}
                        <tr>
                            <td class="product_attribute">{{ ('catalog.product.attribute.' ~ attributeName)|trans }}:</td>
                            <td>{{ attributeValue }}<span class="meassurement">{% if meassurement != ('catalog.product.attribute.' ~ attributeName ~ '.meassurement') %}{{ meassurement }}</span>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </aside>
    </section>
{% endblock %}

{% block title %}{{ product.pageTitle }}{% endblock %}
