{% extends "@application/layout/layout.twig" %}

{% block title %}{{ product.pageTitle }}{% endblock %}

{% block content %}
    <article class="product product--justice-league">
        <section class="product__overview">
            <h2 class="product__category">Justice League</h2>

            <h1 class="product__name">{{ product.name }}</h1>

            <p>{{ product.description }}</p>

            <p class="product__price">{{ product.price|price }}</p>

            <form class="product__add-to-cart">
                {% include "@application/layout/partials/spinner.twig" with {class:"product__quantity", style:"caplet", name:"product__quantity", value:"10"} %}
                <input type="submit" class="product__add-button cta" value="In den Warenkorb"></input>
            </form>
        </section>
        <section class="product__main-image">
            <img src="{{ product.image_url }}" alt="" />
        </section>
        <section class="product__details">
            <p>Batman hat eigentlich keine Superkräfte, so wie andere Superhelden.</p>

            <p>Batman ist der dunkle Ritter Gotham Citys, der geschworen hat, die Stadt vom Verbrechen zu befreien. Im
                grauschwarz metallischem Anzug fliegt er durch die Nacht und bekämpft all die bedrohlichen Schurken, die
                die Macht an sich reißen wollen. Am Ende siegt Batman.</p>
            <dl class="product__specifications">
                <dt>Maße</dt>
                <dd>16x12x8,5 cm</dd>
                <dt>Material</dt>
                <dd>Kunstoff</dd>
            </dl>
        </section>
        <section class="product__gallery">
            <img src="/images/batman-detail-1.png">
            <img src="/images/batman-detail-2.png">
        </section>
        <section class="product__warnings">
            <p class="warning__under-3">Achtung! Verschluckbare Kleinteile. Erstickungsgefahr. Für Kinder unter 3 Jahre
                nicht geeignet.</p>
        </section>
    </article>
{% endblock %}
