<ul class="small-12 medium-8 large-6 columns no-bullet">
    {% for node in navigationTree.nodes %}
        {% embed '@Application/layout/navigation/_partials/base-node.twig' %}
            {% block url %}
                <li class="{{ class }}">
                    <a href="{{ url }}">{{ title }}</a>
                </li>
            {% endblock %}

            {% block link %}
                <li class="{{ class }}">
                    <a href="{{ link }}">{{ title }}</a>
                </li>
            {% endblock %}

            {% block externalUrl %}
                <li class="{{ class }}">
                    <a href="{{ externalUrl }}" target="_blank">{{ title }}</a>
                </li>
            {% endblock %}

            {% block other %}
                <li class="{{ class }}">
                    {{ title }}
                </li>
            {% endblock %}
        {% endembed %}
    {% endfor %}
</ul>
