{% for node in navigationTree.nodes %}
    {% embed '@Application/layout/navigation/_partials/base-node.twig' %}
        {% block nodeContainer %}
            <div class="picture">
                {{ parent() }}
            </div>
        {% endblock %}

        {% block url %}
            <a class="picture__icon {{ class }}" href="{{ url }}" title="{{ title }}"></a>
        {% endblock %}

        {% block link %}
            <a class="picture__icon {{ class }}" href="{{ link }}" title="{{ title }}"></a>
        {% endblock %}

        {% block externalUrl %}
            <a class="picture__icon {{ class }}" href="{{ externalUrl }}" target="_blank" title="{{ title }}"></a>
        {% endblock %}

        {% block other %}
            <span class="picture__icon {{ class }}" title="{{ title }}"></span>
        {% endblock %}
    {% endembed %}
{% endfor %}
