<div class="cms-product col col50">
  {% set product = block.getProduct() %}
  <a href="{{ product.url }}">
    <h1>{{ product.name }}</h1>
    <img width="100%" src="{{ getFirstProductImagesBySize(product.product_images, 'xxl') }}" alt="{{ product.name }}">

    <p class="price">{{ getCustomerPrice(product.price) | money }}</p>
  </a>
</div>
