<div class="faq">

    {% if cmsValues.pets is defined %}
        {% set pets = cmsValues.pets %}

        <div class="faq__navigation">
            <div class="faq__navigation-inner">

                <div class="faq__title">FAQ</div>


                {% for pet in pets %}
                    {% set petIndex = loop.index %}

                    <button class="faq__pet {{ petIndex == 1 ? 'faq__pet--active' : '' }}" data-pet="{{ petIndex }}">
                        {{ pet.pet }}
                    </button>
                {% endfor %}

            </div>
        </div>
    {% endif %}



    <div class="faq__categories">
        <div class="faq__categories-inner">

            {% if cmsValues.general is defined %}
                {% set general = cmsValues.general %}
                {% set petIndex = 0 %}

                {% for category in general.general_categories %}
                    {% set categoryIndex = loop.index %}

                    <button class="faq__category" data-pet="{{ petIndex }}" data-category="{{ petIndex }}.{{ categoryIndex }}">
                        {{ category.category }}
                    </button>
                {% endfor %}
            {% endif %}


            {% if cmsValues.pets is defined %}
                {% set pets = cmsValues.pets %}

                {% for pet in pets %}
                    {% set petIndex = loop.index %}

                    {% if pet.pet_categories is defined %}

                        {% for category in pet.pet_categories %}
                            {% set categoryIndex = loop.index %}

                            <button class="faq__category" data-pet="{{ petIndex }}" data-category="{{ petIndex }}.{{ categoryIndex }}">
                                {{ category.category }}
                            </button>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            {% endif %}

        </div>
    </div>


</div>