{% set data = {
    logo: {
        url: '/',
        image: {
            src: '/images/logo/logo_header.png',
            alt: 'Pets Deli Logo'
        }
    },

    menus: [
        {
            headline: 'Menü',
            links: [
                { url: '/warum/' , title: 'Warum' },
                { url: '/faq/' , title: 'Fragen?' },
                { url: '/versand/' , title: 'Versand' },
                { url: '/impressum/' , title: 'Impressum' }
            ]
        }
    ]
} %}



<div class="offcanvas">

    {% include '@application/layout/common/close-button.twig' %}

    <div class="offcanvas__inner">

        <div class="offcanvas__logo" href="{{ data.logo.url }}">
            <img src="{{ data.logo.image.src }}" alt="{{ data.logo.image.alt }}" />
        </div>

        <div class="offcanvas__menu">

            {% for menu in data.menus %}
            <div class="offcanvas__accordeon">

                <div class="offcanvas__category">
                    {{ menu.headline }}
                </div>

                <ul class="offcanvas__items" style="display: block;">
                {% for link in menu.links %}
                    <li class="offcanvas__item">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>

            </div>
            {% endfor %}

        </div>

    </div>

</div>
