{%
    set data = {
        wordmark: 'Pets Deli',
        items: [
            'Geld - zurück - Garantie',
            'Kostenloser Tiefkühl-Versand',
            'Hotline: 030 - 208 98 48 99'
        ],
        press: {
            title: 'Bekannt aus',
            references: ['bild', 'ard']
        },
        logo: {
            url: '/',
            image: {
                src: '/images/logo/logo_header.png',
                alt: 'Pets Deli Logo'
            }
        },
        links: [
            { url: '/hunde-nahrung/', title: 'Hunde', menu: 'menu'},
            { url: '/katzen-nahrung/', title: 'Katzen', menu: 'menu'},
            { url: '/warum/', title: 'Warum?', modifier: 'support'},
            { url: '/faq/', title: 'Fragen?', modifier: 'contact'},
            {
                url: (app.user is not null ? 'profile' : 'login'),
                title: (app.user is not null ? getUsername() : 'Anmelden'),
                modifier: 'login'},
            { url: 'checkout', title: 'Warenkorb', modifier: 'cart', menu: app.request.attributes.get('_route') != 'checkout' ? 'cart' : ''},
        ]
    }
%}


<nav class="navbar">
    <div class="navbar__inner">

        <div class="navbar__top">
           <div class="navbar__center">
                <div class="navbar__wordmark">{{ data.wordmark }}</div>

                {% for item in data.items %}
                    <div class="navbar__item">{{ item }}</div>
                {% endfor %}

                <div class="navbar__item">{{ data.press.title }}
                    {% for reference in data.press.references %}
                        <span class="navbar__press navbar__press--{{ reference }}"></span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="navbar__bottom">
            <div class="navbar__center">
                <a class="navbar__logo" href="{{ data.logo.url }}">
                    <img src="{{ data.logo.image.src }}" alt="{{ data.logo.image.alt }}">
                </a>

                <ul class="navbar__links">

                    {% for link in data.links %}

                        {% set active = (app.request.uri == url(link.url)) %}

                        <li
                            {% if link.menu is defined and link.menu is not empty %}
                                data-menu="{{ link.menu }}"
                            {% endif %}

                            class="navbar__link
                            {% if link.modifier is defined %}
                                navbar__link--{{ link.modifier }}
                            {% endif %}


                            {% if active %}
                                navbar__link--active
                            {% endif %}
                            ">

                            <a
                                {% if link.url is defined and not active %}
                                    href="{{ url(link.url) }}"
                                {% endif %}>

                                {% if link.menu is not defined or link.menu != 'menu' %} <span> {% endif %}
                                    {{ link.title }}
                                {% if link.menu is not defined or link.menu != 'menu' %} </span> {% endif %}

                            </a>
                        </li>

                    {% endfor %}

                    <li class="navbar__link navbar__link--more"><div>&nbsp;</div></li>

                </ul>

                <div class="navbar__marker"></div>
            </div>
        </div>
    </div>

    {% include '@application/layout/header/menu.twig' %}

    {% if headerBlocks is defined %}
        {% for headerBlock in headerBlocks %}
            {{ include(headerBlock) }}
        {% endfor %}
    {% endif %}

</nav>

<div class="navbar__pusher"></div>
