{% use '@Application/layout/common/icons.twig' %}


{%
    set data = {
        items: [
            'Geld - zurück - Garantie',
            'Kostenloser Tiefkühl-Versand',
            'Hotline: 030 - 208 98 48 99'
        ],
        press: {
            title: 'Bekannt aus',
            references: ['bild', 'zdf']
        },
        logo: {
            url: '/',
            image: {
                src: '/images/logo/logo_header.png',
                alt: 'Pets Deli Logo'
            }
        },
        links: [
            { url: '/hunde-nahrung/', title: 'Hunde', menu: 'menu'},
            { url: '/katzen-nahrung/', title: 'Katzen', menu: 'menu'},
            { url: '/warum/', title: 'Warum?', modifier: 'support', menu: 'none'},
            { url: '/faq/', title: 'Fragen?', modifier: 'contact', menu: 'none'},
            {
                url: (app.user is not null ? '/logout/' : '/login/'),
                title: (app.user is not null ? 'Abmelden' : 'Anmelden'),
                modifier: 'login'},
            { url: '/checkout/', title: 'Warenkorb', modifier: 'cart', menu: app.request.attributes.get('_route') != 'checkout' ? 'cart' : ''},
        ]
    }
%}


<nav class="navbar">
    <div class="navbar__inner">

        <div class="navbar__top">
           <div class="navbar__center">

               <a class="navbar__wordmark"  href="{{ data.logo.url }}">
                   <img src="/images/logo/logo_inline.png" alt="Pets Deli Logo" />
               </a>

                {% for item in data.items %}
                    <div class="navbar__item">{{ item }}</div>
                {% endfor %}

                <div class="navbar__item navbar__item--press">{{ data.press.title }}
                    {% for reference in data.press.references %}
                        {{ block('icon_' ~ reference) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="navbar__bottom">
            <div class="navbar__center">
                <a class="navbar__logo" href="{{ data.logo.url }}">
                    <img src="{{ data.logo.image.src }}" alt="{{ data.logo.image.alt }}">
                </a>

                <ul class="navbar__links">

                    {% for link in data.links %}

                        {% set active = (link.url in app.request.uri) %}

                        <li
                            {% if link.menu is defined and (link.menu is not empty and link.menu != 'none') %}
                                data-menu="{{ link.menu }}"
                            {% endif %}

                            class="navbar__link
                            {% if link.modifier is defined %}
                                navbar__link--{{ link.modifier }}
                            {% endif %}


                            {% if active %}
                                navbar__link--active
                            {% endif %}
                            ">

                            <a
                                {% if link.url is defined and not active %}
                                    href="{{ link.url }}"
                                {% endif %}>

                                {% if link.menu is not defined or link.menu not in ['menu', 'none'] %} <span> {% endif %}
                                    {{ link.title }}
                                {% if link.menu is not defined or link.menu not in ['menu', 'none'] %} </span> {% endif %}

                            </a>
                        </li>

                    {% endfor %}

                    <li class="navbar__link navbar__link--more"><div>&nbsp;</div></li>

                </ul>

                <div class="navbar__marker"></div>
            </div>
        </div>
        {% include '@application/layout/header/menu.twig' %}

    </div>
</nav>

<div class="navbar__pusher"></div>
