<div class="shipping">
    <div class="shipping__inner">

        {% if cmsValues.header is defined %}
            {% set header = cmsValues.header %}

            <div class="shipping__header">
                {% if header.headline is defined %}
                    <h1 class="shipping__headline">{{ header.headline }}</h1>
                {% endif %}

                {% if header.intro is defined %}
                    <div class="shipping__intro">
                        {% markdown %}
                            {{ header.intro }}
                        {% endmarkdown %}
                    </div>
                {% endif %}

            </div>
        {% endif %}



        {% if cmsValues.shipping is defined %}
            {% set shipping = cmsValues.shipping %}

            <div class="shipping__shipping">
                {% if shipping.headline is defined %}
                    <h2 class="shipping__shipping-headline">{{ shipping.headline }}</h2>
                {% endif %}

                {% if shipping.countries is defined %}
                    <div class="shipping__countries">
                        {% for country in shipping.countries %}

                            <div class="shipping__country">
                                <div class="shipping__country-inner">

                                    <div class="shipping__left">
                                        {% if country.country is defined %}
                                            <div class="shipping__country-name">
                                                {{ country.country }}
                                            </div>
                                        {% endif %}

                                        {% if country.carrier is defined %}
                                            <div class="shipping__carrier">
                                                {{ country.carrier }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="shipping__right">
                                        {% if country.fee is defined %}
                                            <div class="shipping__fee {% if '0,00' in country.fee %}shipping__fee--free{% endif %}">
                                                {{ country.fee }}
                                            </div>
                                        {% endif %}

                                        <div class="shipping__conditions">
                                            {% for condition in country.conditions %}

                                                {% if condition.condition is defined %}
                                                    <div class="shipping__condition">
                                                        {{ condition.condition }}
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}



        <div class="shipping__bottom">
            {% if cmsValues.information is defined %}

                <div class="shipping__information">
                    {% markdown %}
                        {{ cmsValues.information }}
                    {% endmarkdown %}
                </div>
            {% endif %}


            {% if cmsValues.image is defined %}
                {% set image = cmsValues.image %}

                <div class="shipping__image">
                    {% if image.url is defined %}
                        <img src="{{ image.url }}" alt="{{ image.alt | default('')}}" />
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
</div>
