<div class="callout js-product-container">
    <a href="{{ url }}" class="thumbnail __preview-image">
        <img src="{{ imageUrl }}">
    </a>
    <p>
        <strong>{{ name }}</strong><br>
    </p>
    <a class="button expanded" href="{{ url }}">{{ 'product.view' | trans }} &raquo;</a>
</div>
