{% block content %}
    <div class="catalog">
        <h1 class="catalog__section-title">
            {% if category is defined %}
                {{ category.name }}
            {% elseif searchString is defined %}
                {{ 'search'|trans }}
            {% endif %}
        </h1>

        <aside class="catalog__filter js-filters">
            {% include "@catalog/catalog/partials/filter-default.twig" with {filterName:'category'} %}
            {% include "@catalog/catalog/partials/filter-color.twig" with {filterName:'color', id: 42} %}
            {% include "@catalog/catalog/partials/filter-range.twig" with {filterName:'price', min:(facets.price.rangeValues.min|default(0))|priceRaw|floor, max:(facets.price.rangeValues.max|default(0))|priceRaw|ceil} %}
            {% include "@catalog/catalog/partials/filter-multivalue.twig" with {filterName:'extras'} %}
        </aside>
        <button class="catalog__toggle-filters js-toggle-filters">
            <span class="js-show-filters">{{ "catalog.filter.show"|trans }}</span>
            <span class="js-hide-filters">{{ "catalog.filter.hide"|trans }}</span>
        </button>

        {% if searchString is defined %}
            <h2 class="catalog__search-term">{{ 'search.resultsFor'|trans }}: {{ searchString }}</h2>
        {% endif %}

        <section class="catalog__active-filters">
            <h1>{{ "catalog.filter.active"|trans }}</h1>
            <ul class="active-filter__list">
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'category', value:'', id: 42} %}
                42
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'color', value:'', id: 42} %}
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'price', value:'', id: 42} %}
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'extras', value:'', id: 42} %}
            </ul>
        </section>

        <header class="catalog__summary">
            <div class="summary__total-count"><span class="amount">{{ numFound }}</span> {{ "catalog.itemsFound"|trans }}</div>
            <div class="ui-helper-hidden pagination-max-page">{{ maxPage }}</div>
            <div class="summary__sorting">
                {{ "catalog.sort"|trans }}
                <button class="sorting__button--inc name">A-Z</button>
                <button class="sorting__button--dec name">Z-A</button>
                <button class="sorting__button--inc price">
                    <span class="sorting__label--small">{{ "catalog.currency"|trans }}</span>
                    <span class="sorting__label--medium">{{ "catalog.currency"|trans }}</span>
                    <span class="sorting__label--large">{{ "catalog.currency"|trans }}</span>
                </button>
                <button class="sorting__button--dec price">
                    <span class="sorting__label--large">{{ "catalog.currency"|trans }}</span>
                    <span class="sorting__label--medium">{{ "catalog.currency"|trans }}</span>
                    <span class="sorting__label--small">{{ "catalog.currency"|trans }}</span>
                </button>
            </div>
        </header>

        <div class="catalog__products-holder js-products-holder">
            <section class="catalog__products js-products-current">
                {% for product in products %}
                    {% include "@catalog/catalog/partials/product.twig" with {detailsUrl: product.url, imageUrl: product.abstract_attributes.image_url, name: product.abstract_name, price: product.valid_price} %}
                {% endfor %}
            </section>
            <div class="catalog__loading-text">{{ "catalog.loading"|trans }}</div>
        </div>

        <div class="catalog__pagination">
            <button class="pagination__button js-pagination-prev">{{ "catalog.prev"|trans }}</button>
            <button class="pagination__button js-pagination-next">{{ "catalog.next"|trans }}</button>
        </div>
    </div>
{% endblock %}
