{% extends "@application/layout/full.twig" %}
{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/product.css" />
    <script src="/scripts/app/catalog.js"></script>

    <section class="consumeHeight" id="product">

        <ul id="breadcrumbs">
            <li><hardcoded><a href="/">Home</a></hardcoded></li>
            <li><hardcoded>{{ product.brand }}</hardcoded></li>
            <li>{{ product.name }}</li>
        </ul>
        <aside class="assist col col25">
            <ul class="usps">
                <li><span class="glyphicon glyphicon-gift"></span>{{ 'catalog.usp.shipping'|trans }}</li>
                <li><span class="glyphicon glyphicon-refresh"></span>{{ 'catalog.usp.return'|trans }}</li>
            </ul>
            <ul class="social">
                <li class="facebook"></li>
                <li class="google"></li>
                <li class="twitter"></li>
                <li class="youtube"></li>
            </ul>
        </aside>

        {#{% include "@catalog/partials/product-%s.twig" | format(product.variety) | lower  with { 'product' : product, 'subProducts' : subProducts } only %}#}

    </section>
{% endblock %}

{% block title %}{{ product.page_title }}{% endblock %}