{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/catalog.css" />
    <script src="/scripts/app/catalog.js"></script>

    <section class="consumeHeight" id="catalog">

        <ul id="breadcrumbs" class="col col33">
            <hardcoded block>
            <li><a href="/">Home</a></li>
            <li>Chairs</li>
            </hardcoded>
        </ul>
        <div id="options" class="col col67">
            <select class="sortBy">
                {% set currentSortOrder = (currentSortOrder != 'desc' ? 'asc' : 'desc') %}
                {% for sortName in sortNames %}
                    <option value="{{ url('catalog', { sort : { value : [sortName] }, sort_order : { value : ['asc', 'desc'], active : [true, false] }, page : { value : [1] } }) }}" {{ currentSortParam == sortName and currentSortOrder == 'asc' ? 'selected' : '' }}>{{ ('catalog.sort.' ~ sortName)|trans }} &#8613;</option>
                    <option value="{{ url('catalog', { sort : { value : [sortName] }, sort_order : { value : ['asc', 'desc'], active : [false, true] }, page : { value : [1] } }) }}" {{ currentSortParam == sortName and currentSortOrder == 'desc' ? 'selected' : '' }}>{{ ('catalog.sort.' ~ sortName)|trans }} &#8615;</option>
                {% endfor %}
            </select>

            {% if maxPage > 1 %}
            <ul class="pagination">
                {% if currentPage > 1 %}
                    <li data-page="{{ url('catalog', { page : { value : [currentPage - 1] } }) }}">&laquo;</li>
                {% endif %}

                {% for i in range(1, maxPage) %}
                    {% if i in range(currentPage - 2, currentPage + 2) %}
                        <li data-page="{{ url('catalog', { page : { value : [i] } }) }}" {{ i == currentPage ? 'class="current"' }}>{{ i }}</li>
                    {% endif %}
                {% endfor %}

                {% if currentPage < maxPage %}
                    <li data-page="{{ url('catalog', { page : { value : [currentPage + 1] } }) }}">&raquo;</li>
                {% endif %}
            </ul>
            {% else %}
                <div class="pagination">
                    {{ numFound ~ ' ' ~ (numFound == 1 ? 'catalog.product.found'|trans : 'catalog.products.found'|trans) }}
                </div>
            {% endif %}
        </div>

        <div class="sidebar col col25">
            {% include "@catalog/partials/filters.twig" with {'facets': facets } only %}
        </div>

        <ul class="products col col75">
            {% for product in products %}
                <li>
                    <a href="/{{ product.name | url_encode | replace({'-': '+'}) }}-{{ product.id }}.html">
                        <img src="{{ getFirstProductImagesBySize(product.product_images, 'l') }}" alt="" />
                        <h3>{{ product.name }}</h3>
                        <h4>by {{ product.brand }}</h4>
                        {% if product.recommended_retail_price %}
                            <span class="oldPrice">{{ product.recommended_retail_price|price }}</span>
                        {% endif %}
                        <span class="price">{{ product.price|price }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>
{% endblock %}
