{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/catalog.css" />
    <script src="/scripts/app/catalog.js"></script>

    <section class="consumeHeight" id="catalog">

        <div class="col col50">
            <ul>
                <li>
                    <ul id="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        {% for category_parent in category.parents %}
                            <li><a href="{{ category_parent.url }}">{{ category_parent.name }}</a></li>
                        {% endfor %}
                        <li><b>{{ category.name }}</b></li>
                    </ul>
                </li>
                {% for category_child in category.children %}
                    <li>
                        <ul id="breadcrumbs">
                            <li></li>
                            <li><a href="{{ category_child.url }}">{{ category_child.name }}</a></li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="options" class="col col50">
            {% include "@catalog/partials/options.twig" with {'url': category.url} %}
        </div>

        <div class="sidebar col col25">
            {% include "@catalog/partials/filters.twig" with {'facets': facets, 'url': category.url} only %}
        </div>

        {% include "@catalog/partials/product-list.twig" with {'products': products} only %}

    </section>
{% endblock %}