{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/catalog.css" />
    <script src="/scripts/app/catalog.js"></script>

    <section class="consumeHeight" id="catalog">

        <ul id="breadcrumbs" class="col col33">
            <hardcoded block>
            <li><a href="/">Home</a></li>
            <li>Chairs</li>
            </hardcoded>
        </ul>
        <div id="options" class="col col67">
            <hardcoded block>
            <select class="sortBy">
                <option value="relevancy">Relevancy</option>
                <option value="price">Price</option>
            </select>
            <ul class="pagination">
                <li class="current">1</li>
                <li>2</li>
                <li>3</li>
                <li>&hellip; 10</li>
                <li>&raquo;</li>
            </ul>
            </hardcoded>
        </div>

        <div class="sidebar col col25">
            {% include "@catalog/partials/filters.twig" with {'facets': facets } only %}
        </div>

        <ul class="products col col75">
            {% for product in products %}
                <li>
                    <a href="/{{ product.name | url_encode | replace({'-': '+'}) }}-{{ product.id }}.html">
                        <img src="{{ getFirstProductImagesBySize(product.product_images, 'l') }}" alt="" />
                        <h3>{{ product.name }}</h3>
                        <h4>by {{ product.brand }}</h4>
                        {% if product.recommended_retail_price %}
                            <span class="oldPrice">{{ product.recommended_retail_price|price }}</span>
                        {% endif %}
                        <span class="price">{{ product.price|price }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>
{% endblock %}
