{% if cart.items | length > 0 %}
    {% spaceless %}

        <div class="row">
            <div class="col-md-6">{{ 'cart.your-order' | trans }}</div>
            <div class="col-md-6 text-right">{{ 'cart.price' | trans }}</div>
        </div>
        <div class="header-cart-items">
            {% for item in cart.items %}
                <div class="cart-item" data-sku="{{ item.sku }}" data-group-key="{{ item.groupKey }}">
                    <div class="pull-left item-name">{{ item.name }}</div>
                    <div class="pull-left quantity-container">
                        <div class="quantity-modifier left"><a class="quantity-minus" href="#"><i class="fa fa-minus"></i></a></div>
                        <div class="quantity-input" id="product-quantity">{{ item.quantity }}</div>
                        <div class="quantity-modifier right"><a class="quantity-plus" href="#"><i class="fa fa-plus"></i></a></div>
                    </div>
                    <div class="pull-right item-price text-right">{{ item.totalPrice | price }}</div>

                </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>

        {% if cart.totals %}
            <div class="header-cart-totals">
                <div class="row">
                  <div class="col-md-12 text-right"><span class="cart-label">{{ 'cart.total' | trans }}</span> <span class="cart-total-price">{{ cart.totals.grandTotal | price }}</span></div>
                </div>
            </div>
        {% endif %}
        <a href="{{ url('checkout') }}">{{ 'cart.checkout' | trans }}</a>
    {% endspaceless %}
{% else %}
    <div class="header-cart-empty">
        {{ 'cart.empty' | trans }}
    </div>
{% endif %}
