{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="{{ asset('/styles/cart.css') }}" />
    <script src="{{ asset('/scripts/app/cart.js') }}"></script>

    <section class="consumeHeight" id="cart">
            {% include "@application/partials/flash_bag.twig" %}
            {% if cartItems|length %}
            <a class="continue" href="{{ url('checkout') }}">{{ 'cart.to.checkout'|trans }}</a>
            {% endif %}
            <h3>{{ 'cart.cart'|trans }}</h3>
            <table class="items">
                <thead>
                <tr>
                    <th>{{ 'cart.product'|trans }}</th>
                    <th>{{ 'cart.price.item'|trans }}</th>
                    <th>{{ 'cart.amount'|trans }}</th>
                    <th>{{ 'cart.price.total'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for cartItem in cartItems %}
                    {% set product = products[cartItem.sku] %}
                    <tr>
                        <td>
                            {#<img src="{{ getFirstProductImagesBySize(product.product_images, 'm') }}" alt="" width="20%" />#}
                            <h3>{{ product.name }}</h3>
                            {% if array.brand is defined %}
                                <h4>by {{ product.brand }}</h4>
                            {% endif %}
                            <ul class="specs">
                                {% if array.material is defined %}
                                    <li>{{ product.material }}</li>
                                {% endif %}
                                {% if array.dimension_in_cm is defined %}
                                    <li>{{ product.dimension_in_cm }}</li>
                                {% endif %}
                            </ul>
                            <a href="{{ url('cart/remove', {'sku':cartItem.sku, 'uid':cartItem.uniqueIdentifier}) }}" class="remove">
                                <span class="glyphicon glyphicon-trash"></span>
                                {{ 'cart.remove'|trans }}
                            </a>
                        </td>
                        <td>
                            {{ cartItem.unitGrossPrice|price }}
                            {#    expenses->?
                                options->? #}
                        </td>
                        <td>
                            <form action="{{ url('cart/change/quantity', {sku:product.sku, uid:cartItem.uniqueIdentifier, absolute:true} ) }}">
                                <input type="number" name="quantity" value="{{ cartItem.quantity }}" min="1" />
                                {#max="{{ product.stock > 30 ? 30 : product.stock }}" step="1" />#}
                            </form>
                        </td>
                        <td>
                            {#<span class="oldPrice">{{ product.recommended_retail_price }}</span>#}
                            <span class="price">{{ cartItem.priceToPay|price }}</span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'cart.empty'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td rowspan="{{ totals.tax.taxRates|length + 4 }}" colspan="2">
                        <ul class="usps">
                            <li><span class="glyphicon glyphicon-gift"></span>{{ 'cart.usp.shipping'|trans }}</li>
                            <li><span class="glyphicon glyphicon-refresh"></span>{{ 'cart.usp.return'|trans }}</li>
                        </ul>
                    </td>
                    <td>{{ 'cart.price.subtotal'|trans }}</td>
                    <td>{{ totals.subtotal|price }}</td>
                </tr>
                <tr class="shipping">
                    <td class="label">{{ 'cart.price.shipping'|trans }}</td>
                    <td>{{ 0|price }}{# totals.orderExpensesTotal|price? #}</td>
                </tr>
                {% for taxRate in totals.tax.taxRates %}
                    <tr class="tax">
                        <td>{{ taxRate.percentage }}{{ 'cart.percentage.vat'|trans }}</td>
                        <td>{{ taxRate.amount|price }}</td>
                    </tr>
                {% endfor %}
                <hr />
                <tr class="total">
                    <td>{{ 'cart.price.grand.total'|trans }}</td>
                    <td>{{ totals.grandTotal|price }}</td>
                </tr>
                </tfoot>
            </table>
            {% if cartItems|length %}
            <a  class="continue" href="{{ url('checkout') }}">{{ 'cart.to.checkout'|trans }}</a>
            {% endif %}
    </section>
{% endblock %}
