{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/cart.css" />
    {% include '@application/response_messages.twig' %}

    <section class="consumeHeight" id="cart">
        <form action="/checkout">
            {% if cartItems|length %}
            <button class="continue">Go to Checkout</button>
            {% endif %}
            <h3>Your Cart</h3>
            <table class="items">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Item price</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for cartItem in cartItems %}
                    {% set product = products[cartItem.sku] %}
                    <tr>
                        <td>
                            <hardcoded block style="float:left;">
                            <img src="" alt="[tbd_image]" width="20%" />
                            </hardcoded>
                            <h3>{{ product.name }}</h3>
                            <h4>by {{ product.brand }}</h4>
                            <hardcoded block>
                            <ul class="specs">
                                <li>{{ product.material }}</li>
                                <li>{{ product.dimension_in_cm }}</li>
                            </ul>
                            </hardcoded>
                            <a href="{{ url('cart/remove', {'sku':cartItem.sku, 'uid':cartItem.uniqueIdentifier}) }}" class="remove">
                                <span class="glyphicon glyphicon-trash"></span>
                                Remove
                            </a>
                        </td>
                        <td>
                            {{ cartItem.unitGrossPrice|price }}
                            {#    expenses->?
                                options->? #}
                        </td>
                        <td>
                            <hardcoded block><input type="number" min="1" step="1" value="{{ cartItem.quantity }}" /></hardcoded>
                        </td>
                        <td>
                            <hardcoded block><span class="oldPrice">{{ product.recommended_retail_price }}</span></hardcoded>
                            <span class="price">{{ cartItem.priceToPay|price }}</span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Cart EMPTY.</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td rowspan="{{ totals.tax.taxRates|length + 3 }}" colspan="2">
                        <ul class="usps">
                            <li><span class="glyphicon glyphicon-gift"></span>Free Shipping & Return</li>
                            <li><span class="glyphicon glyphicon-refresh"></span>30 Days of Return</li>
                        </ul>
                    </td>
                    <td>Subtotal Price</td>
                    <td>{{ totals.subtotal|price }}</td>
                </tr>
                <tr class="shipping">
                    <td class="label">Shipping</td>
                    <td>{{ totals.orderExpensesTotal|price }}</td>
                </tr>
                {% for taxRate in totals.tax.taxRates %}
                    <tr class="tax">
                        <td>{{ taxRate.percentage }} % VAT</td>
                        <td>{{ taxRate.amount|price }}</td>
                    </tr>
                {% endfor %}
                <tr class="total">
                    <td>
                        Total price
                    </td>
                    <td>{{ totals.grandTotal|price }}</td>
                </tr>
                </tfoot>
            </table>
            {% if cartItems|length %}
            <button class="continue">Go to Checkout</button>
            {% endif %}
        </form>

        <a href="http://www-development.project-yz.com/cart/add/04M01BU-03">add product for debugging</a>
    </section>
{% endblock %}
