<input type="radio" id="filter-category-{{name}}" name="filter-category" value="{{id}}" class="filter__category-radio"{% if checked %} checked=true{% endif %}>
<label for="filter-category-{{name}}" class="filter__category-name">{{name}} <span class="filter__quantity">{{quantity}}</span></label>