<input type="checkbox" id="filter-extras-{{name}}" name="filter-extras" value="{{id}}" class="filter__extras-checkbox"{{#if checked}} checked=true{{/if}}>
<label for="filter-extras-{{name}}" class="filter__extras-name">{{name}} <span class="filter__quantity">{{quantity}}</span></label>