<input type="radio" id="filter-color-{{hex}}" name="filter-color" data-color="{{hex}}" value="{{id}}" class="filter__color-radio"{{#if checked}} checked=true{{/if}}>
<label for="filter-color-{{hex}}" class="filter__color-name js-color-name">{{hex}} <span class="filter__quantity">{{quantity}}</span></label>
