<table
    class="table table-striped table-bordered table-hover {{ config.class | default('gui-table-data') }}"
    data-ajax="/{{ app.request.get('module') }}/{{ app.request.get('controller') }}/{{ config.url }}"
    id="{{ config.tableId }}"
    data-processing="true"
    data-server-side="true"
    data-state-save="true"
    {%- if config.pageLength is defined -%}
        data-page-length="{{ config.pageLength }}"
    {%-  endif -%}

    {%- include 'table-data-order.twig' -%}
    {%- include 'table-data-columns.twig' -%}
    >
    {% include '@Gui/Table/thead.twig' %}
    {% include '@Gui/Table/tfoot.twig' %}
</table>
