{%
    set data = {
        headline: 'PETS DELI Newsletter',
        description: 'Erhalten Sie wöchtlich wertvolle Tipps und Beratung rund um ihr Haustier, mit den Themen Gesundheit, Ernährung, Spaß & Spiel und vielem mehr.',
        placeholder: 'Ihre E-Mail-Adresse...',
        button: 'Abonnieren'
    }
%}


<div class="newsletter">
    <div class="newsletter__inner">

        <h2 class="newsletter__headline">{{ data.headline }}</h2>
        <p class="newsletter__description">{{ data.description }}</p>

        <form class="newsletter__form" action="{{ url('NEWSLETTER_SUBSCRIPTION_ROUTE') }}" method="POST">

            <div class="newsletter__top">
                {% include '@application/layout/common/forms/input.twig' with {
                    placeholder: data.placeholder,
                    type: 'email',
                    name: 'email'
                } %}

                {% include '@application/layout/common/forms/button.twig' with {
                    title: data.button,
                    modifier: 'cta',
                    type: 'submit'
                } %}
            </div>

            <div class="newsletter__bottom">
                {% include '@application/layout/common/forms/checkbox.twig' with {
                    id: 'NewsletterTypeDogsCheckbox',
                    name: 'NewsletterTypeDogs',
                    label: 'Für Hunde',
                    value: 1
                } %}

                {% include '@application/layout/common/forms/checkbox.twig' with {
                    id: 'NewsletterTypeCatsCheckbox',
                    name: 'NewsletterTypeCats',
                    label: 'Für Katzen',
                    value: 1
                } %}
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    // TODO: create makro
    translator.addTranslation('dogs.newsletter.subscription.already_subscribed', '{{ 'dogs.newsletter.subscription.already_subscribed' | trans }}');
    translator.addTranslation('cats.newsletter.subscription.already_subscribed', '{{ 'cats.newsletter.subscription.already_subscribed' | trans }}');
</script>