<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-6 columns">
                <label>
                    {{ "catalog.filter.pricerangeFrom" | trans }}
                    <input type="number" name="{{ filter.config.parameterName }}[min]" data-default-value="{{ (filter.min | default(0)) | moneyRaw | floor }}"
                           value="{{ (filter.activeMin | default(0)) | moneyRaw | floor }}"
                           required="required"
                           min="{{ (filter.min | default(0)) | moneyRaw | floor }}"
                           max="{{ (filter.max | default(0)) | moneyRaw | ceil }}"
                    />
                </label>
            </div>
            <div class="small-6 columns">
                <label>
                    {{ "catalog.filter.pricerangeTo" | trans }}
                    <input type="number" name="{{ filter.config.parameterName }}[max]" data-default-value="{{ (filter.max | default(0)) | moneyRaw | ceil }}"
                           value="{{ (filter.activeMax | default(0)) | moneyRaw | ceil }}"
                           required="required"
                           min="{{ (filter.min | default(0)) | moneyRaw | floor }}"
                           max="{{ (filter.max | default(0)) | moneyRaw | ceil }}"
                    />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <button type="submit" class="button hollow expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> {{ 'catalog.filter.button' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
