<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                {% for filterValue in filter.values %}
                    <label>
                        <input type="radio" name="{{ filter.name }}" value="{{ filterValue.value }}" {% if filter.activeValue == filterValue.value %}checked{% endif %} />
                        {{ filterValue.value }} ({{ filterValue.docCount }})
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <button type="submit" class="button hollow expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> {{ 'catalog.filter.button' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
