{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div style="margin-top: 65px;padding: 30px;overflow:hidden">
        {% include "@customer/customer/partials/navigation.twig" with {'active': 'order'} %}

        <div style="float:left;width:70%">
            <h1>{{ "customer.profile.order_history" | trans }}</h1>

            {% if orderList | length %}
                <h2>{{ 'customer.order.all_orders' | trans }}</h2>
                {% include "@customer/order/partials/order-list.twig" %}
                <div style="text-align:center">
                    {% if pagination is defined and pagination.nbResults > pagination.maxPerPage %}
                        <div>{{ pagination.firstIndex }}-{{ pagination.lastIndex }}  /  {{ pagination.nbResults }} {{ 'customer.order.amount_of_orders' | trans }}</div>

                        {% if pagination.lastIndex != pagination.nbResults %}
                            <a href="{{ path('customer/order', {'page': pagination.nextPage}) }}">{{ 'next' | trans }}</a>
                        {% endif %}
                        {% if pagination.firstIndex != 1 %}
                            <a href="{{ path('customer/order', {'page': pagination.previousPage}) }}">{{ 'prev' | trans }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <p>{{ 'customer.account.no_orders' | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
