    <h3 class="caption">{{ 'customer.newsletter.subscription'|trans }}</h3>

        {% if (newsletter.status is defined) %}
            {% if newsletter.status == 'subscribed' %}
                <form name="subscription" class="subscription" action="../unsubscribe">
                    <input type="hidden" id="subscription_unsubscriptionKey" name="key" value="{{ newsletter.unsubscriptionKey }}">
                    <input type="checkbox" id="subscription_status" name="subscription[status]" checked="checked">
                    <label for="subscription_status">{{ 'customer.newsletter.subscription.status.caption'|trans }}<br>
                        <span class="fake-link actions">{{ 'customer.change'|trans }}</span>
                    </label>
                    <button type="submit" style="display:none;" class="ok">{{ 'customer.change.submit'|trans }}</button>
                </form>
            {% elseif newsletter.status == 'confirmation_pending' %}
                <form name="subscription" class="subscription" action="{{ url('subscribe') }}">
                    <input type="hidden" id="subscription_email" name="email" value="{{ email }}">
                    <input type="checkbox" id="subscription_status" name="subscription[status]" checked="checked" disabled="disabled">
                    <label for="subscription_status">{{'customer.newsletter.subscription.confirm'|trans }}</label>
                    <button type="submit" class="ok" style="margin-top:12px">{{ 'customer.newsletter.subscription.resubmit'|trans }}</button>
                </form>
            {% else %}
                <form name="subscription" class="subscription" action="{{ url('subscribe') }}">
                    <input type="hidden" id="subscription_email" name="email" value="{{ email }}">
                    <input type="checkbox" id="subscription_status" name="subscription[status]">
                    <label for="subscription_status">{{ 'customer.newsletter.subscription.status.caption'|trans }}<br>
                        <span class="fake-link actions">
                            {{ 'customer.change'|trans }}
                            <button type="submit" style="display:none;" class="ok" onClick="javascript:return tc_events_1(this, '24', {})">{{ 'customer.change.submit'|trans }}</button>
                        </span>
                    </label>
                </form>
            {% endif %}
        {% endif %}

