{% import '@catalog/catalog/macros.twig' as tree %}

<div class="row catalog">
    <div class="col-md-3 sidebar">
        <div class="block">
            <h1 class="section-title">
                {% if category is defined -%}
                    {{ category.name }}
                {%- elseif searchString is defined -%}
                    {{ 'search' | trans }}
                {%- endif %}
            </h1>
        </div>

        <div class="block">
            {{ tree.categoriesTree(categories, category) }}
        </div>

        <div class="block">
            <div class="block-title">{{ 'catalog.price' | trans }}</div>
            <div id="price-range"></div>
            {{ 'catalog.price.from' | trans }} <input class="price-range-display" type="text" id="price-range-min" name="price-range[min]"> {{ 'catalog.price.to' | trans }} <input class="price-range-display" type="text" id="price-range-max" name="price-range[max]">
        </div>

        {#
        <div class="block">
            <div class="block-title">Other Features</div>
            <ul>
                <li><label><input type="checkbox" /> New</label></li>
                <li><label><input type="checkbox" /> Sale</label></li>
                <li><label><input type="checkbox" /> Besonders Toll</label></li>
                <li><label><input type="checkbox" /> Aus Kunststoff</label></li>
                <li><label><input type="checkbox" /> Aus Holz</label></li>
            </ul>
        </div>
        #}

    </div>
    <div class="col-md-9">
        <div class="row header-category-listing">
            <div class="col-md-6 product-count">{{ numFound }} {{ 'catalog.products.found' | trans }}</div>
            <div class="col-md-6 text-right">
                {{ 'catalog.sort.by' }} <div class="btn-group group-round" role="group">
                    <button type="button" class="btn btn-primary">A-Z</button>
                    <button type="button" class="btn btn-default">Z-A</button>
                </div>

                <div class="btn-group group-round" role="group">
                    <button type="button" class="btn btn-primary">
                        <span class="filter-small">&euro;</span>
                        <span class="filter-middle">&euro;</span>
                        <span class="filter-large">&euro;</span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="filter-large">&euro;</span>
                        <span class="filter-middle">&euro;</span>
                        <span class="filter-small">&euro;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail product-item">
                    <div class="product-thumbnail">
                        <a href="{{ product.url }}" title="{{ product.abstract_name }}">
                            <img src="{{ product.abstract_attributes.image_url }}" alt="{{ product.abstract_name }}">
                        </a>
                    </div>
                    <div class="caption text-center">
                        <div class="product-name">{{ product.abstract_name }}</div>
                        <div class="product-price">{#<span>{{ product.old_price | price }}</span> #}{{ product.valid_price | price }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav>
            <ul class="pager">
                <li><a href="#">{{ 'pagination.previous' | trans }}</a></li>
                <li><a href="#">{{ 'pagination.next' | trans }}</a></li>
            </ul>
        </nav>

    </div>
</div>
