{% extends "@application/layout/layout.twig" %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    {% include '@catalog/catalog/partials/category-breadcrumb.twig' with {categoryNode: category} only %}
{% endblock %}

{% block title %}
    <h3>{{ category.name }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        {{ spyCmsBlock({category: idCategory, category_position: 'top'}) }}
    </div>

    {% include "@catalog/catalog/catalog.twig" with {paginationPath: app.request.getPathInfo()} %}

    <div class="row">
        {{ spyCmsBlock({category: idCategory, category_position: 'middle'}) }}
    </div>
{% endblock %}

{% block footer %}
    <div class="row columns">
        {{ spyCmsBlock({category: idCategory, category_position: 'bottom'}) }}
    </div>
{% endblock %}