<ul class="filters">
    {% for facet in facets %}
        {% set config = facet.config %}
        {% set name = facet.name %}
        {% set activeValues = (facet.activeValue is defined ? facet.activeValue : []) %}
        {% if config.facet_active %}
            <li data-name="{{ name }}">
                <h3>{{ ('catalog.filters.' ~ name)|trans }}</h3>
                {% if config.type == 'category' %}
                    {# todo #}
                {% endif %}
                {% if config.type == 'enumeration' %}
                    {% if name == 'brand' %}
                        <input type="text" placeholder="{{ ('catalog.filters.' ~ name ~ '.hint.find')|trans }}" class="search fullWidth">
                        <ul class="toggleList" data-name="{{ name }}">
                            {% for valueName, valueKey in facet.values %}
                                <li data-value="{{ valueName }}" data-on="{{ url( url, { (name) : { value : [valueName], facet_active: [true]} }) }}" data-off="{{ url( url, { (name) : { value : [valueName], facet_active: [false]} }) }}" {{ valueName in activeValues ? 'class="selected"' : '' }}>{{ ('catalog.filters.' ~ name ~ '.' ~ valueName)|trans }} ({{ valueKey }})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for valueName, valueKey in facet.values %}
                            <label {{ valueKey == 0 ? 'class="notAvailable"' : '' }}>
                                <input type="checkbox" name="{{ name }}" value="{{ valueName }}" data-on="{{ url( url, { (name) : { value : [valueName], facet_active: [true]} }) }}" data-off="{{ url( url, { (name) : { value : [valueName], active : [false]} }) }}" {{ valueName in activeValues ? 'checked' : '' }} /> {{ ('catalog.filters.' ~ name ~ '.' ~ valueName)|trans }} ({{ valueKey }})
                            </label>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% if config.type == 'slider' %}
                    {% set minVal = (name == 'price' ? (facet.rangeValues.min / 100)|number_format(0, '', '') : facet.rangeValues.min|number_format(0, '', '')) %}
                    {% set maxVal = (name == 'price' ? (facet.rangeValues.max / 100)|number_format(0, '', '') : facet.rangeValues.max|number_format(0, '', '')) %}
                    {% set activeValues = (activeValues == [] ? minVal ~ '-' ~ maxVal : activeValues) %}
                    <div {{ minVal == maxVal ? 'class="notAvailable"' : '' }}>
                        <legend class="min">{{ ('catalog.filters.' ~ name ~ '.min')|trans }}</legend>
                        <legend class="max">{{ ('catalog.filters.' ~ name ~ '.max')|trans }}</legend>
                        <input class="rangeSlider min" type="range" value="{{ activeValues|split('-')[0] }}" min="{{ minVal }}" max="{{ maxVal }}" data-connector=".connector-{{ name }}.min" />
                        <input class="rangeSlider max" type="range" value="{{ activeValues|split('-')[1] }}" min="{{ minVal }}" max="{{ maxVal }}" data-connector=".connector-{{ name }}.max" />
                        <input class="rangeSliderConnector connector-{{ name }} min" type="number" value="{{ minVal }}" />
                        <input class="rangeSliderConnector connector-{{ name }} max" type="number" value="{{ maxVal }}" />
                        <input type="hidden" class="resultUrl" value="{{ url( url, { (name) : { value : ['XX-YY'], facet_active: [true, false]} }) }}" />
                    </div>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>