<ul class="products col col75">
    {% for product in products %}
        <li class="product item">
            <a href="{{ product.url }}">
                <div class="product-data photo">
                    <span></span>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-photo" />
                </div>
                <h3>{{ product.name }}</h3>
                <h4><b></b>{{ product.material }}</h4>
                {#<h4>by {{ product.material }}</h4>#}
                {#{% if product.recommended_retail_price %}#}
                {#<span class="oldPrice">{{ product.recommended_retail_price|price }}</span>#}
                {#{% endif %}#}
                <span class="price">{{ product.price|price }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
