<div class="image-checkbox">
    <label class="image-checkbox__inner" for="{{id}}" style="background: url({{image}})">
        <input class="image-checkbox__checkbox" type="checkbox" id="{{id}}" name="{{name}}" value="{{value}}" checked>
        <div class="image-checkbox__label">{{label}}</div>
    </label>
</div>