<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-6 columns">
               <label>
                   {{ "catalog.filter.pricerangeFrom"|trans }}
                   <input type="number" name="{{ filterName }}[min]" value="{{ min }}" min="{{ min }}" max="{{ max }}" />
               </label>
            </div>
            <div class="small-6 columns">
                <label>
                    {{ "catalog.filter.pricerangeTo"|trans }}
                    <input type="number" name="{{ filterName }}[max]" value="{{ max }}" min="{{ min }}" max="{{ max }}" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <button type="submit" class="button expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> {{ 'Filter' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
