{% if facets.main_colors is defined %}
    <section class="filter js-filter filter__{{filterName}}" data-filter-id="{{filterName}}" data-filter-name="{{filterName}}" data-filter-type="color">
        <h1 class="filter__title">{{ ('catalog.filter.' ~ filterName)|trans }}</h1>
        <ul class="filter__{{filterName}}-list">
            {% for color, quantity in facets.main_color.values %}
                <li>{% include "@catalog/catalog/partials/filter-color-value.twig" with {value:color, quantity:quantity} %}</li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
