{% set isDefault = (default is defined and default == true) %}
<input type="radio"
    id="filter-{{ filterName }}-{{ value }}"
    name="filter-{{ filterName }}"
    value="{{ value }}"
    {% if isDefault %}
        checked=checked
    {% endif %}
    class="js-filter-category {% if isDefault %}js-filter-default-value{% endif %}"
/>
<label for="filter-{{ filterName }}-{{ value }}">{{ displayValue }}
    {% if quantity is defined %}
        <span class="filter__quantity">{{ quantity }}</span>
    {% endif %}
</label>
