<div class="small-12 medium-6 large-6 xlarge-4 columns">
    <div class="callout">
        <a href="{{ detailsUrl }}" class="thumbnail __preview-image">
            <img src="{{ imageUrl }}">
        </a>
        <p>
            <strong>{{ name }}</strong><br>
            {{ priceValue | price }}
        </p>
        <a class="button expanded" href="{{ detailsUrl }}">View &raquo;</a>
    </div>
</div>
