<div class="callout js-product-container">
    <a href="{{ detailsUrl }}" class="thumbnail __preview-image">
        <img src="{{ imageUrl }}">
    </a>
    {% if idProductAbstract is defined %}
        {{ spyProductLabels(idProductAbstract, '@Catalog/catalog/partials/product-labels.twig') }}
        {{ spyProductGroupItems(idProductAbstract, '@ProductGroup/partials/product-group-items.twig') }}
    {% endif %}
    <p>
        <strong>{{ name }}</strong><br>
        {{ priceValue | money }}
    </p>
    <a class="button expanded" href="{{ detailsUrl }}">{{ 'product.view' | trans }} &raquo;</a>
</div>
