<div class="callout">
    <a href="{{ detailsUrl }}" class="thumbnail __preview-image">
        <img src="{{ imageUrl }}">
    </a>
    <p>
        <strong>{{ name }}</strong><br>
        {{ priceValue | money }}
    </p>
    <a class="button expanded" href="{{ detailsUrl }}">View &raquo;</a>
</div>
