<div class="callout js-product-container">
    <a href="{{ detailsUrl }}" class="thumbnail __preview-image">
        <img src="{{ imageUrl }}">
    </a>
    {% if idProductAbstract is defined %}
        {{ spyProductLabels(idProductAbstract, '@Catalog/catalog/partials/product-labels.twig') }}
        {{ spyProductGroupItems(idProductAbstract, '@ProductGroup/partials/product-group-items.twig') }}
    {% endif %}
    <p>
        <strong>{{ name }}</strong><br>
        {% if originalPrice is defined and originalPrice %}
            <span class="catalog-price__price-original">{{ originalPrice | money }}</span> <span class="catalog-price__price-reduced">{{ priceValue | money }}</span>
        {% else %}
            {{ priceValue | money }}
        {% endif %}
    </p>
    <a class="button expanded" href="{{ detailsUrl }}">{{ 'product.view' | trans }} &raquo;</a>
</div>
