<div class="callout">
    <div class="row align-middle">

        <div class="small-12 large-4 xlarge-6 columns show-for-large">
            <strong>{{ pagination.numFound }}</strong> {{ "catalog.itemsFound"|trans }}
        </div>
        <div class="small-8 large-5 xlarge-4 columns">
            <label>
                <select name="sort" class="__no-margin-bottom" data-default-value="">
                    <option value="">{{ 'catalog.sort.relevance' | trans }}</option>
                    {% for sortParamName in sort.sortParamNames %}
                        <option value="{{ sortParamName }}" {% if sortParamName == sort.currentSortParam %}selected{% endif %}>{{ ('catalog.sort.' ~ sortParamName) | trans }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="small-4 large-3 xlarge-2 columns">
            <button type="submit" class="button hollow expanded __no-margin-bottom">
                <i class="fa fa-sort"></i> Sort
            </button>
        </div>
    </div>
</div>
