<input type="checkbox"
       id="filter-{{filter-id}}-{{id}}"
       name="filter-{{filter-id}}"
       value="{{id}}"
       {{#if checked}} checked=true{{/if}}>
<label for="filter-{{filter-id}}-{{id}}">{{name}}
  <span class="filter__quantity">{{quantity}}</span>
</label>