<input type="radio"
    id="filter-{{ filterName }}-{{ value }}"
    name="filter-{{ filterName }}"
    value="{{ value }}"
    {% if default is defined and default == true %}
        checked=true
    {% endif %}>
<label for="filter-{{ filterName }}-{{ value }}">{{ displayValue }}
    {% if quantity is defined %}
    <span class="filter__quantity">{{ quantity }}</span>
    {% endif %}
</label>