<input type="radio"
        id="filter-{{filter-id}}-{{id}}"
        name="filter-{{filter-id}}"
        value="{{id}}"
        {{#if default}}
          checked=true
          class="js-filter-default-value"
        {{/if}}>
<label for="filter-{{filter-id}}-{{id}}">{{name}}
  <span class="filter__quantity">{{quantity}}</span>
</label>
