<input type="radio"
       id="filter-{{filterName}}-{{id}}"
       name="filter-{{filterName}}"
       data-color="{{hex}}"
       value="{{value}}"
        {% if checked is defined and checked == true %} checked=true{% endif %}>
<label for="filter-{{filterName}}-{{value}}" class="js-color-name">{{hex}}
    <span class="filter__quantity">{{quantity}}</span>
</label>
