<input type="checkbox"
       id="filter-{{filterName}}"
       name="filter-{{filterName}}"
       value="{{id}}"
       {% if checked is defined and checked == true %} checked=true{% endif %}>
<label for="filter-{{filterName}}">{{name}}
  <span class="filter__quantity">{{quantity}}</span>
</label>