<section class="filter js-filter filter__{{filterName}}" data-filter-name="{{filterName}}" data-filter-type="range" data-min="{{min}}" data-max="{{max}}">
    <h1 class="filter__title">{{ 'catalog.filter.' ~ filterName|trans }}</h1>
    <div class="filter__{{filterName}}-slider js-slider js-{{filterName}}-slider"></div>
    <p>{{ "catalog.filter.pricerangeFrom"|trans }} <span class="filter__{{filterName}}-min js-filter-value-min">{{min}}</span> {{ "catalog.filter.pricerangeTo"|trans }} <span class="filter__{{filterName}}-max js-filter-value-max">{{max}}</span></p>
</section>
