<input type="checkbox"
       id="filter-{{filterName}}-{{value}}"
       name="filter-{{filterName}}"
       value="{{value}}"
       {% if checked is defined and checked == true %} checked=true{% endif %}>
<label for="filter-{{filterName}}-{{value}}">{{displayValue}}
  <span class="filter__quantity">{{quantity}}</span>
</label>