{% extends "@application/layout/layout.twig" %}
{% block content %}
    <div class="catalog">
        <h2>Wishlist</h2>
        <ul>
        {% for wishlistItem in customerWishlist.getItems() %}
            <li>{{ wishlistItem.getConcreteProduct().getName() }} X ({{ wishlistItem.getQuantity() }})
                <a href="/wishlist/remove/{{ wishlistItem.getSku() }}/{{ wishlistItem.getGroupKey() }}">Remove</a>
                <a href="/wishlist/reduce/{{ wishlistItem.getSku() }}/{{ wishlistItem.getGroupKey() }}">Reduce</a>
                <a href="/wishlist/increase/{{ wishlistItem.getSku() }}/{{ wishlistItem.getGroupKey() }}">Increase</a>
                <a href="/wishlist/add-to-cart/{{ wishlistItem.getGroupKey() }}">Add to cart</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
