<div class="dropdown">
    {{#if label}}
        <label class="input__label" for="{{id}}">{{label}}</label>
    {{/if}}

    <select class="js-select" id="{{id}}" name="{{name}}">
        {{#each (parseJSON options)}}
          <option value="{{@index}}">{{this}}</option>
        {{/each}}
    </select>
</div>