<table>
    <thead>
        <tr>
            <th class="text-left">{{ 'customer.order.item_sku' | trans }}</th>
            <th class="text-left">{{ 'customer.order.product_name' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_price' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_quantity' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_sum' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for orderItem in order.items %}
        <tr>
            <td class="text-left">
                {{ orderItem.sku }}
            </td>
            <td class="text-left">
                {{ orderItem.name }}
            </td>
            <td class="text-right">
                {{ orderItem.unitGrossPriceWithProductOptions | price }}
            </td>
            <td class="text-right">
                {{ orderItem.quantity }}
            </td>
            <td class="text-right">
                {{ orderItem.sumGrossPriceWithProductOptions | price }}
            </td>
        </tr>

        {% if orderItem.productOptions|length > 0 %}
            {% for productOption in orderItem.productOptions %}
            <tr>
                <td class="text-left">
                    &nbsp; + <small>{{ productOption.sku }}</small>
                </td>
                <td class="text-left">
                    <small>{{ productOption.value | trans }}</small>
                </td>
                <td class="text-right">
                    <small>{{ productOption.unitGrossPrice | price }}</small>
                </td>
                <td class="text-right" colspan="2">
                    <small>{{ productOption.sumGrossPrice | price }}</small>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
