{% macro close() -%}
    <button type="button" class="close-alert"><span aria-hidden="true">&times;</span></button>
{%- endmacro %}

{% import _self as button %}

<div class="flash-messages wrapper">
    {% for message in app.session.flashbag.get('flash.messages.success') %}
        <div class="alert alert-success">{{ button.close }}{{ message | trans }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.info') %}
        <div class="alert alert-info">{{ button.close }}{{ message | trans }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.error') %}
        <div class="alert alert-danger">{{ button.close }}{{ message | trans }}</div>
    {% endfor %}
</div>
