<footer class="main-footer">
  <a href="{{ 'page.imprint.url'|trans }}" class="footer__impressum">{{ 'page.imprint.title'|trans }}</a>
  <a href="{{ 'page.terms.url'|trans }}" class="footer__agb">{{ 'page.terms.title'|trans }}</a>
  <a href="{{ 'page.privacy.url'|trans }}" class="footer__datenschutz">{{ 'page.privacy.title'|trans }}</a>
</footer>