{% if quoteTransfer.totals.discounttotal %}
    {% if quoteTransfer.voucherDiscounts|length %}
        <li><strong>{{ 'cart.vouchers' | trans }}</strong></li>
        <li>
            {% for voucherDiscount in quoteTransfer.voucherDiscounts %}
                <div class="row">
                    <div class="small-8 columns">{{ voucherDiscount.displayName }}</div>
                    <div class="small-4 columns text-right">- {{ voucherDiscount.amount | money }}</div>
                </div>
            {% endfor %}
        </li>
    {% endif %}
    {% if quoteTransfer.cartRuleDiscounts|length %}
        <li><strong>{{ 'cart.discounts' | trans }}</strong></li>
        <li>
            {% for ruleDiscount in quoteTransfer.cartRuleDiscounts %}
                <div class="row">
                    <div class="small-8 columns">{{ ruleDiscount.displayName }}</div>
                    <div class="small-4 columns text-right">- {{ ruleDiscount.amount | money }}</div>
                </div>
            {% endfor %}
        </li>
    {% endif %}
    <li><hr></li>
{% endif %}
