<li>
    {{ item.quantity }}
    <span class="__secondary">&times;</span>
    {{ item.name }} - <strong>{{ item.sumGrossPrice|price }}</strong>

    {% if item.productOptions|length > 0 %}
        <br />
        <small>{{ 'product.product_options' | trans }} </small> <br />
        {% for productOption in item.productOptions %}
            &nbsp; <small> + {{ productOption.value | trans }} <strong>{{ productOption.unitGrossPrice | price }}</strong> </small> <br />
        {% endfor %}
    {% endif %}

    <br>
    <small class="__secondary">{{ 'product.attribute.sku' | trans }}: {{ item.sku }} - <strong>{{ item.unitGrossPriceWithProductOptions | money }}</strong> </small>

    {% if not loop.last %}
        <hr>
    {% else %}
        <div class="clearfix"></div>
    {% endif %}
</li>
