<li>
    {{ item.quantity }}
    <span class="__secondary">&times;</span>
    {{ item.name }} - <strong>{{ item.sumGrossPrice | money }}</strong>

    {% if bundleItems is defined %}
        <br />
        <small>
        <li>{{ 'checkout.summary.item.bundle.description' | trans }}</li>

        {% for bundleItem in bundleItems %}
            <li> - {{ bundleItem.quantity }} x {{ bundleItem.name }}  </li>
        {% endfor %}
         </small>
    {% endif %}

    {% if item.productOptions|length > 0 %}
        <br />
        <small>{{ 'product.product_options' | trans }} </small> <br />
        {% for productOption in item.productOptions %}
            &nbsp; <small> + {{ productOption.value | trans }} <strong>{{ productOption.sumGrossPrice | price }}</strong> </small> <br />
        {% endfor %}
    {% endif %}

    <br>
    <small class="__secondary">{{ 'product.attribute.sku' | trans }}: {{ item.sku }} - <strong>{{ item.sumItemTotal|price }}</strong> </small>

    {% if not loop.last %}
        <hr>
    {% else %}
        <div class="clearfix"></div>
    {% endif %}
</li>
