<div style="text-align:right;margin-bottom:40px; margin-top:5px;">

    <div>{{ 'customer.order.subTotal' | trans }}: {{ order.totals.subtotal | price }}</div>
    {% for expense in order.expenses %}
        <div>{{ 'customer.order.shipment' | trans }} {{ expense.name }}: {{ expense.sumGrossPrice | price }}</div>
    {% endfor %}

    <div>{{ 'customer.order.discount.total' | trans }}: -{{ order.totals.discountTotal | price }}</div>
    <h4>{{ 'customer.order.grandTotal' | trans }}: {{ order.totals.grandTotal | price }}</h4>
</div>
