<div>
    <table width="100%">
        <tr>
            <th align="left">{{ 'order.item_sku' | trans }}</th>
            <th align="left">{{ 'order.product_name' | trans }}</th>
            <th align="right">{{ 'order.item_price' | trans }}</th>
            <th align="right">{{ 'order.item_quantity' | trans }}</th>
            <th align="right">{{ 'order.item_sum' | trans }}</th>
        </tr>
        {% for orderItem in order.items %}
            <tr>
                <td align="left">
                    {{ orderItem.sku }}
                </td>
                <td align="left">
                    {{ orderItem.name }}
                </td>
                <td align="right">
                    {{ orderItem.unitGrossPriceWithProductOptionAndDiscountAmounts | price }}
                </td>
                <td align="right">
                    {{ orderItem.quantity }}
                </td>
                <td align="right">
                    {{ orderItem.sumGrossPriceWithProductOptionAndDiscountAmounts | price }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
