{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div style="margin-top: 65px;padding: 30px;overflow:hidden">
        {% include "@customer/customer/partials/navigation.twig" with {'active': 'newsletter'} %}

        <div style="float:left;width:70%">
            {{ form_start(form) }}
                <h1>{{ 'customer.account.newsletter' | trans }}</h1>
                <h2>{{ 'customer.newsletter.subscription' | trans }}</h2>
                <div>
                    {{ form_widget(form.subscribe) }}
                    <label for="{{ form.subscribe.vars.id }}">{{ form.subscribe.vars.label | trans }}</label>
                    <div>
                        {{ form_errors(form.subscribe) }}
                    </div>
                </div>

                <div>
                    <input type="submit" value="{{ 'forms.submit-btn' | trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
