{% extends "@customer/layout.twig" %}

{% block title %}
    <h3>{{ 'customer.account.wishlist' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@customer/partials/navigation.twig" %}

    {% include "@Wishlist/partials/wishlist-navigation.twig" with {'activeSubmenu': wishlistName, 'wishlistCollection': wishlistOverview.meta.wishlistCollection} %}
{% endblock %}

{% block customerContent %}
    <div class="row xlarge-unstack">
        <div class="columns">
            <div class="callout">
                <div class="row">
                    <div class="small-12 columns">
                        <h4 class="float-left">{{ wishlistName }}</h4>

                        {% if availability|length %}
                            {{ form_start(addAllAvailableProductsToCartForm, {action: path('wishlist/move-all-available-to-cart', { wishlistName: wishlistName })}) }}
                                <button type="submit" class="button float-right"><i class="fa fa-shopping-cart"></i>{{ 'customer.account.wishlist.add_all_available_to_cart' | trans }}</button>
                                {% for wishlistItemMetaField in addAllAvailableProductsToCartForm.wishlistItemMetaCollection %}
                                    {{ form_widget(wishlistItemMetaField) }}
                                {% endfor %}
                            {{ form_end(addAllAvailableProductsToCartForm) }}
                        {% endif %}
                    </div>
                </div>

                {% if wishlistOverview.items|length %}
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'customer.account.wishlist.product' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.price' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.overview.variant' | trans  }}</th>
                                <th>{{ 'customer.account.wishlist.availability' | trans  }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in wishlistOverview.items %}
                            {% if item.product is defined %}
                                <tr>
                                    {% set imageUrl = '' %}
                                    {% if item.product.imageSets is defined and item.product.imageSets.default is defined %}
                                        {% set imageUrl = item.product.imageSets.default[0].externalUrlSmall %}
                                    {% endif %}
                                    <td>
                                        <a href="{{ item.product.url }}">{{ item.product.name }}</a>
                                        <div><small>{{ item.product.sku }}</small></div>
                                        {% if imageUrl %}
                                            <img width="75" src="{{ imageUrl }}" />
                                        {% endif %}
                                    </td>
                                    <td nowrap="nowrap">
                                        {% if item.product.prices.ORIGINAL is defined %}
                                            <span class="catalog-price__price-reduced">{{ item.product.price | default(0) | money }}</span> <span class="catalog-price__price-original">{{ item.product.prices.ORIGINAL | money }}</span>
                                        {% else %}
                                            {{ item.product.price | default(0) | money }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for attribute in item.product.superAttributesDefinition %}
                                            {% if item.product.attributes[attribute] is defined %}
                                                {{ ('product.attribute.'~attribute) | trans }}: {{ item.product.attributes[attribute] }} <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if availability[item.sku] is not defined %}
                                            N/A
                                        {% elseif availability[item.sku] %}
                                            {{ 'customer.account.wishlist.available' | trans }}
                                        {% else %}
                                            {{ 'customer.account.wishlist.not_available' | trans }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if availability[item.sku] is defined and availability[item.sku] and item.product.price is not empty %}
                                            <form id="addToCart_{{ loop.index }}" class="float-left" method="POST" action="{{ path('wishlist/move-to-cart', {sku: item.product.sku, 'wishlist-name': wishlistName}) }}">
                                                <a title="{{ 'customer.account.wishlist.add-to-cart' | trans }}" disabled="disabled" onclick="document.getElementById('addToCart_{{ loop.index }}').submit()">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </form>
                                        {% endif %}
                                        <form id="deleteWishlistItem_{{ loop.index }}" class="float-left" method="POST" action="{{ path('wishlist/remove-item', {sku: item.product.sku, 'wishlist-name': wishlistName}) }}">
                                            <a title="{{ 'customer.account.wishlist.remove' | trans }}" onclick="document.getElementById('deleteWishlistItem_{{ loop.index }}').submit()">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row align-center">
                        {% include '@Application/layout/partials/pagination.twig' with {
                            parameters: {
                                wishlistName: wishlistName
                            },
                            currentPage: currentPage,
                            paginationPath: 'wishlist/details',
                            maxPage: totalPages,
                            showAlwaysFirstAndLast: true
                        } %}
                    </div>
                {% else %}
                    {{ 'customer.account.wishlist.empty' | trans }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
