{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div class="catalog">
        <h2>{{ 'whishlist.whishlist' }}</h2>
        <ul>
        {% for wishlistItem in customerWishlist.getItems() %}
            <li>{{ wishlistItem.getConcreteProduct().getName() }} X ({{ wishlistItem.getQuantity() }})
                <a href="{{ path('wishlist/remove', { sku: wishlistItem.sku, groupKey:  wishlistItem.getGroupKey() }) }}">{{ 'whishlist.remove' | trans }}</a>
                <a href="{{ path('wishlist/decrease', { sku: wishlistItem.sku, groupKey: wishlistItem.getGroupKey() }) }}">{{ 'whishlist.reduce' | trans }}</a>
                <a href="{{ path('wishlist/increase', { sku: wishlistItem.sku, groupKey: wishlistItem.getGroupKey() }) }}">{{ 'whishlist.increase' | trans }}</a>
                <a href="{{ path('wishlist/add-to-cart', { groupKey: wishlistItem.getGroupKey() }) }}">{{ 'whishlist.move.to.cart' | trans }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
