{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <label>{{ form.email.vars.label | trans }}</label>
    <div class="field">
        {{ form_widget(form.email, { 'attr': {'placeholder': form.email.vars.label | trans } }) }}
        {{ form_errors(form.email) }}
    </div>

    <label>{{ form.password.vars.label | trans }}</label>
    <div class="field">
        {{ form_widget(form.password, { 'attr': {'placeholder': form.password.vars.label | trans } }) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="field">
        <a href="{{ url('password/forgotten') }}">{{ 'forms.forgot-password' | trans }}</a>
    </div>

    <div class="frame buttons cfx">
        <input type="submit" value="{{ 'forms.submit.login' | trans }}" />
    </div>
{{ form_end(form) }}
