{% if product is defined %}

    {# TODO: separate partial that injects content #}
    {% set productConcrete = product.concreteProducts | first %}
    {% set initial = (pricings | first) %}

    <script type="text/javascript">
        window.pricings = {
        {% for weight, pricing in pricings %}
            '{{ weight }}' : {
                absolute: '{{ pricing.absolute | price}}',
                relative: '250g (€1.40 / 100g)'
            }{% if loop.last != true %},{% endif %}
        {% endfor %}
        }
    </script>

    <div class="product-header">
        <form action="/cart/add/" method="POST">

            <div class="product-header__info">
                <h2 class="product-header__title">{{ product.abstract_name }}</h2>
                <div class="product-header__weight">{{ initial.weight }}</div>
            </div>

            <div class="product-header__interaction">
                {% if options is not empty %}
                    <div class="product-header__select">
                        {% include  '@application/layout/common/forms/dropdown.twig' with {
                            label: 'Größe',
                            id: 'weight',
                            name: 'weight',
                            options: options.weight
                        } %}
                    </div>
                {% endif %}

                <div class="product-header__select">
                    {% include  '@application/layout/common/forms/stepper.twig' with {
                        label: 'Anzahl',
                        id: 'quantity',
                        name: 'quantity'
                    } %}
                </div>

                <div class="product-header__pricing">
                    {% set initial = (pricings | first ) %}

                    <div class="product-header__total">{{ initial.absolute | price}}</div>
                    <div class="product-header__relative">250g (€1.40 / 100g)</div>
                </div>

                <!-- TODO: strings into glossary -->
                <button
                    class="product-header__button button button--cta" data-sku="{{ productConcrete.sku }}">
                    In den Warenkorb
                </button>
            </div>

        </form>

        <div class="product-header__delivery">
            <div class="product-header__delivery-status">
                Sofort verfügbar.
            </div>

            <div class="product-header__delivery-info">
                Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do normalerweise am selben Tag.
            </div>
        </div>
    </div>
{% endif %}
