{% set initial = (config.options | first) %}


<script type="text/javascript">
    {% spaceless %}
    window.productConfig = {
        'pet': '{{ 'hunde' in app.request.uri ? 'dog' : 'cat' }}',
        'type': '{{ config.type }}',
        'options': {
            {% for weight, option in config.options %}
                '{{weight}}' : {
                    'sku': '{{ option.sku }}',
                    'weight': {
                        'value': '{{ option.weight.value }}',
                        'unit': '{{ option.weight.unit }}'
                    },
                    'prices': {
                        'total': '{{ option.price | price }}',
                        'relative': '{{ (option.price * (option.weight.unit in ['g', 'ml'] ? 100 : 1 ) / option.weight.value) | price }}'
                    },
                    'options': {
                        {% if option.meat is defined  %}
                        'meat': [
                            {% for key, value in option.meat %}
                                '{{ value }}',
                            {% endfor %}
                        ],
                        {% endif %}
                        {% if option.carbs is defined  %}
                        'carbs': [
                            {% for key, value in option.carbs %}
                                '{{ value }}',
                            {% endfor %}
                        ]
                        {% endif %}
                    }
                },
            {% endfor %}
        }
    };
    {% endspaceless %}


    window.translator.addTranslation('configurator.fixings.cat.beef', '{{ 'configurator.fixings.cat.beef' | trans }}');
    window.translator.addTranslation('configurator.fixings.cat.chicken', '{{ 'configurator.fixings.cat.chicken' | trans }}');
    window.translator.addTranslation('configurator.fixings.cat.deer', '{{ 'configurator.fixings.cat.deer' | trans }}');
    window.translator.addTranslation('configurator.fixings.cat.fish', '{{ 'configurator.fixings.cat.fish' | trans }}');
    window.translator.addTranslation('configurator.fixings.cat.kangaroo', '{{ 'configurator.fixings.cat.kangaroo' | trans }}');
    window.translator.addTranslation('configurator.fixings.cat.turkey', '{{ 'configurator.fixings.cat.turkey' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.beef', '{{ 'configurator.fixings.dog.beef' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.chicken', '{{ 'configurator.fixings.dog.chicken' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.deer', '{{ 'configurator.fixings.dog.deer' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.fish', '{{ 'configurator.fixings.dog.fish' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.kangaroo', '{{ 'configurator.fixings.dog.kangaroo' | trans }}');
    window.translator.addTranslation('configurator.fixings.dog.turkey', '{{ 'configurator.fixings.dog.turkey' | trans }}');
    window.translator.addTranslation('product-group.carbs.value.potatoes', '{{ 'product-group.carbs.value.potatoes' | trans }}');
    window.translator.addTranslation('product-group.carbs.value.rice', '{{ 'product-group.carbs.value.rice' | trans }}');
    window.translator.addTranslation('product-group.meat.beef', '{{ 'product-group.meat.beef' | trans }}');
    window.translator.addTranslation('product-group.meat.chicken', '{{ 'product-group.meat.chicken' | trans }}');
    window.translator.addTranslation('product-group.meat.deer', '{{ 'product-group.meat.deer' | trans }}');
    window.translator.addTranslation('product-group.meat.fish', '{{ 'product-group.meat.fish' | trans }}');
    window.translator.addTranslation('product-group.meat.kangaroo', '{{ 'product-group.meat.kangaroo' | trans }}');
    window.translator.addTranslation('product-group.meat.turkey', '{{ 'product-group.meat.turkey' | trans }}');
</script>



<div class="product__options">

<form action="/cart/add/" method="POST" class="product-options js-product-options" data-sku="{{ initial.sku }}">

    {% if config.options is defined and config.options | length > 0 %}
        <div class="product-options__select {{ config.options | length == 0 ? 'product-options__select--hidden' : '' }} js-product-weight-select">
            {% include  '@application/layout/common/forms/dropdown.twig' with {
                label: 'Größe',
                id: 'weight',
                name: 'weight',
                options: (config.options | keys)
            } %}
        </div>
    {% endif %}

    <div class="product-options__select">
        {% include  '@application/layout/common/forms/stepper.twig' with {
            label: 'Anzahl',
            id: 'quantity',
            name: 'quantity'
        } %}
    </div>

    <div class="product-options__pricing">

        <div class="product-options__total js-product-price-total">
            {{ initial.price | price}}
        </div>

        <div class="product-options__relative">
            {% set base = initial.weight.unit in ['ml', 'g'] ? 100 : 1 %}

            <span class="js-product-weight">{{ initial.weight.value | replace({'.':','}) }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}</span> ({{ (initial.price * base / initial.weight.value) | price }} / {{ base }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}
        </div>
    </div>

    {% include '@application/layout/common/forms/button.twig' with {
        type: 'submit',
        title: 'In den Warenkorb',
        modifier: 'cta product-options__button button'
    } %}

    <div class="product-options__delivery">
        <div class="product-options__delivery-status">
            Sofort verfügbar.
        </div>

        <div class="product-options__delivery-info">
            Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do normalerweise am selben Tag.
        </div>
    </div>

</form>

</div>





<form action="/cart/add/" method="POST" class="tablet-options js-product-options" data-sku="{{ initial.sku }}">

    <div class="tablet-options__left">
        <div class="tablet-options__left-inner">
            <h1 class="tablet-options__title">{{ product.abstract_name }}</h1>

            <div class="tablet-options__subtitle">
                <span class="js-product-weight">{{ initial.weight.value | replace({'.': ','})}}{{ ('unit.' ~ initial.weight.unit | trim ) | trans }}</span>
            </div>
        </div>
    </div>

    <div class="tablet-options__right">

        <div class="tablet-options__right-top">
            {% if config.options is defined and config.options | length > 1 %}
                <div class="tablet-options__select {{ config.options | length == 0 ? 'tablet-options__select--hidden' : '' }} js-product-weight-select">
                    {% include  '@application/layout/common/forms/dropdown.twig' with {
                        label: 'Größe',
                        id: 'weight',
                        name: 'weight',
                        options: (config.options | keys)
                    } %}
                </div>
            {% endif %}

            <div class="tablet-options__select">
                {% include  '@application/layout/common/forms/stepper.twig' with {
                    label: 'Anzahl',
                    id: 'quantity',
                    name: 'quantity'
                } %}
            </div>

            <div class="tablet-options__pricing">

                <div class="tablet-options__total js-product-price-total">
                    {{ initial.price | price}}
                </div>

                <div class="tablet-options__relative">
                    {% set base = initial.weight.unit in ['ml', 'g'] ? 100 : 1 %}

                    <span class="js-product-weight">{{ initial.weight.value | replace({'.':','}) }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}</span> ({{ (initial.price * base / initial.weight.value) | price }} / {{ base }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}
                </div>
            </div>
        </div>

        {% include '@application/layout/common/forms/button.twig' with {
            type: 'submit',
            title: 'In den Warenkorb',
            modifier: 'cta tablet-options__button button'
        } %}
    </div>

</form>




<form action="/cart/add/" method="POST" class="mobile-options js-product-options" data-sku="{{ initial.sku }}">

    <div class="mobile-options__top">
        {% if config.options is defined and config.options | length > 1 %}
            <div class="mobile-options__select {{ config.options | length == 0 ? 'mobile-options__select--hidden' : '' }} js-product-weight-select">
                {% include  '@application/layout/common/forms/dropdown.twig' with {
                    label: 'Größe',
                    id: 'weight',
                    name: 'weight',
                    options: (config.options | keys)
                } %}
            </div>
        {% endif %}

        <div class="mobile-options__select">
            {% include  '@application/layout/common/forms/stepper.twig' with {
                label: 'Anzahl',
                id: 'quantity',
                name: 'quantity'
            } %}
        </div>
    </div>

    <div class="mobile-options__middle">
        <div class="mobile-options__description">
            <h1 class="mobile-options__title">{{ product.abstract_name }}</h1>

            <div class="mobile-options__subtitle">
                <span class="js-product-weight">{{ initial.weight.value | replace({'.': ','})}}{{ ('unit.' ~ initial.weight.unit | trim ) | trans }}</span>
            </div>
        </div>

        <div class="mobile-options__middle-right">
            <div class="mobile-options__middle-right-inner">

                <div class="mobile-options__pricing">
                    <div class="mobile-options__total js-product-price-total">
                        {{ initial.price | price}}
                    </div>

                    <div class="mobile-options__relative">
                        {% set base = initial.weight.unit in ['ml', 'g'] ? 100 : 1 %}

                        <span class="js-product-weight">{{ initial.weight.value | replace({'.':','}) }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}</span> ({{ (initial.price * base / initial.weight.value) | price }} / {{ base }}{{ ('unit.' ~ initial.weight.unit | trim) | trans }}
                    </div>
                </div>

                <button type="button" class="button--cta mobile-options__add"></button>
            </div>
        </div>
    </div>

    <div class="mobile-options__bottom">
        <div class="">
            {% include '@application/layout/common/forms/button.twig' with {
                type: 'submit',
                title: 'In den Warenkorb',
                modifier: 'cta mobile-options__button button'
            } %}
        </div>
    </div>

</form>