{% set data = {
    headline: 'Inhalt anpassen',
    description: 'W채hlen Sie die Zutaten ab, die Ihr Tier nicht vertr채gt. Das Paket wird dennoch immer 10 Men체boxen enthalten.',
    label: 'W채hlen Sie Zutaten aus oder ab:',
    button: 'Meine Auswahl speichern',
    titles: {
        meat: 'Fleischsorten',
        carbs: 'Kohlenhydrate'
    }
} %}



<div class="product-configurator js-product-configurator" data-trigger="js-product-customize">

    {% include '@application/layout/common/close-button.twig' %}

    <form class="product-configurator__inner">
        <h2 class="product-configurator__headline">
            {{ data.headline}}
        </h2>

        <div class="product-configurator__description">
            {{ data.description }}
        </div>

        {% set option = options | first %}
        {% for category, categoryOptions in option %}
            {% if category != 'weight' %}

                {% if data.titles[category] is defined %}
                    <h3 class="product-configurator__subheadline">
                        {{ data.titles[category] }}
                    </h3>
                {% endif %}

                <div class="product-configurator__composition">
                    <div class="product-configurator__composition-label">
                        {{ data.label }}
                    </div>

                    {% for categoryOption in categoryOptions %}

                        {% set pet = ('hunde' in  app.request.attributes.get('_route')) ? 'dog' : 'cat' %}

                        {# TODO: dynamic category dog/cat #}
                        {% if categoryOption != 'no' %}
                            {% include '@application/layout/content/product/configurator/image-checkbox.twig' with {
                                checkbox: {
                                    id: category ~ '_' ~ categoryOption,
                                    name: category,
                                    value: categoryOption,
                                    label: (categoryOption | capitalize),
                                    sublabel: (category == 'meat' ? (('configurator.fixings.' ~ pet ~ '.' ~ categoryOption | trim) | trans) : ''),
                                    image: '/images/product/' ~ category ~ '_' ~ categoryOption ~ '.jpg',
                                    image_bw: '/images/product/' ~ category ~ '_' ~ categoryOption ~ '_bw.jpg'
                                }
                            } %}
                        {% endif %}

                    {% endfor %}

                </div>
            {% endif %}
        {% endfor %}

        <div class="product-configurator__save">
            <button class="button" type="submit">
                {{ data.button }}
            </button>
        </div>
    </form>

</div>