{% set productConcrete = product.concreteProducts | first %}
{% set initial = (pricings | first) %}

<div class="product-options">
    <form action="/cart/add/" method="POST">

        {% if options is not empty %}
            <div class="product-options__select">
                {% include  '@application/layout/common/forms/dropdown.twig' with {
                    label: 'Größe',
                    id: 'weight',
                    name: 'weight',
                    options: options.weight
                } %}
            </div>
        {% endif %}

        <div class="product-options__select">
            {% include  '@application/layout/common/forms/stepper.twig' with {
                label: 'Anzahl',
                id: 'quantity',
                name: 'quantity'
            } %}
        </div>

        <div class="product-options__pricing">
            {% set initial = (pricings | first ) %}

            <div class="product-options__total">{{ initial.absolute | price}}</div>
            <div class="product-options__relative">{{ initial.weight }}{{ initial.unit }} ({{ initial.relative | price }} / {{ initial.unit == 'ml' or initial.unit == 'g' ? 100 : 1 }}{{ initial.unit }})</div>
        </div>

        <!-- TODO: strings into glossary -->
        <button
            class="product-options__button button button--cta" data-sku="{{ productConcrete.sku }}">
            In den Warenkorb
        </button>

    </form>

    <div class="product-options__delivery">
        <div class="product-options__delivery-status">
            Sofort verfügbar.
        </div>

        <div class="product-options__delivery-info">
            Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do normalerweise am selben Tag.
        </div>
    </div>
</div>
