{% if product.media is defined %}


    <div class="product-gallery">

        {% if product.category is not empty %}
            {% set category = product.category | first %}

            <a class="product-gallery__back" href="{{ category.url }}">
                {{ category.name }}
            </a>
        {% endif %}


        <div class="product-gallery__image">
            {% set image = product.media | first %}
            <noscript>
                <img src="{{ getProductImageUrl(image) }}" alt="Produktabbildung" />
            </noscript>
            <img class="js-lazy-image" data-image-src="{{ getProductImageUrl(image) }}" alt="Produktabbildung" />
        </div>


        {% if product.media | length > 1 %}
            <div class="product-gallery__thumbnails">
                {% for image in product.media %}
                    <div class="product-gallery__thumbnail">
                        <img src="/images/products/{{ image.url }}" alt="Produktabbildung" data-src="/images/products/{{ image.url }}" data-alt="Produktabbildung" />
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>


{% endif %}
