<h5>{{ "customer.password.update" | trans }}</h5>
<hr>
{{ form_start(passwordForm) }}
    <div class="row">
        <div class="small-12 columns">
            <label>
                {{ passwordForm.password.vars.label | trans }}*
                <span class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    {{ form_widget(passwordForm.password, {'attr': {'class': 'input-group-field'}}) }}
                </span>
            </label>
            {{ form_errors(passwordForm.password) }}
        </div>

        <div class="small-12 columns">
            <label>
                {{ passwordForm.new_password.password.vars.label | trans }}*
                <span class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    {{ form_widget(passwordForm.new_password.password, {'attr': {'class': 'input-group-field'}}) }}
                </span>
            </label>
            {{ form_errors(passwordForm.new_password.password) }}
        </div>

        <div class="small-12 columns">
            <label>
                {{ passwordForm.new_password.confirm.vars.label | trans }}*
                <span class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    {{ form_widget(passwordForm.new_password.confirm, {'attr': {'class': 'input-group-field'}}) }}
                </span>
            </label>
            {{ form_errors(passwordForm.new_password.confirm) }}
        </div>
    </div>

    <div class="row align-right">
        <div class="small-12 medium-6 large-4 columns align-bottom">
            <button type="submit" class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
        </div>
    </div>
{{ form_end(passwordForm) }}
