{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div class="cms-page" style="overflow:hidden">
        <h1>{{ 'customer.password.restore' | trans }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
        
            <input type="submit" class="btn btn-primary" value="{{ 'customer.restore.submit' | trans }}" />

            <a href="/" class="btn btn-primary">{{ 'customer.restore.cancel' | trans }}</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
