{% extends "@checkout/layout.twig" %}
{% import "@checkout/checkout/_macros.twig" as checkout %}

{% block title %}
    <h3>{{ 'checkout.step.payment.title' | trans }}</h3>
{% endblock %}

{% block content %}
    <script src="/assets/default/js/spryker-yves-payone-main.js"></script>
    <div class="row columns">
        {{ form_start(paymentForm, { attr: { id: 'payment-form' }}) }}

            <div class="callout">
                <ul class="no-bullet">
                    {% for name, choices in paymentForm.paymentSelection.vars.choices %}

                        <h4>{{ ('checkout.payment.provider.' ~ name) | trans }}</h4>

                        {% for key, choice in choices %}
                            <li>  &nbsp;
                                {{ form_widget(paymentForm.paymentSelection[key], {'attr': {'class': '__toggler'}}) }}
                                {{ form_label(paymentForm.paymentSelection[key]) }}
                                <div class="__toggler-target">
                                    <div class="row columns">
                                        {{ checkout.include_subform(paymentForm[paymentForm.paymentSelection[key].vars.value]) }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    {% endfor %}
                </ul>
            </div>

            <div class="callout">
                <div class="row align-right">
                    <div class="small-12 medium-6 large-4 xlarge-3 columns">
                        <a href="{{ previousStepUrl }}" class="button expanded __no-margin-bottom">{{ 'general.back.button' | trans }}</a>
                    </div>
                    <div class="small-12 medium-6 large-4 xlarge-3 columns">
                        <button type="submit" class="button success expanded __no-margin-bottom">{{ 'checkout.step.summary' | trans }}</button>
                    </div>
                </div>
            </div>

        {{ form_end(paymentForm) }}
    </div>

{% endblock %}
