{% extends "@checkout/layout.twig" %}

{% block title %}
    <h3>{{ 'checkout.step.summary.title' | trans }}</h3>
{% endblock %}

{% block content %}
    <div class="row xlarge-unstack">
        <div class="small-12 xlarge-3 columns">
            <div class="row">
                <div class="small-12 medium-6 xlarge-12 columns">
                    <div class="callout">
                        <h5>{{ 'checkout.step.summary.payment' | trans }}</h5>
                        <ul class="no-bullet">
                            <li>
                                <span class="__secondary">{{ 'checkout.step.summary.with_method' | trans }}</span> {{ quoteTransfer.payment.paymentMethod }}
                            </li>
                            {% if quoteTransfer.payment.summaryPartialPath %}
                                <li>
                                    {% include '@' ~ quoteTransfer.payment.summaryPartialPath ~ '.twig' with {'quoteTransfer': quoteTransfer} %}
                                </li>
                            {% endif %}
                            <li>
                                {% include '@checkout/checkout/partials/summary-address.twig' with {'address': quoteTransfer.billingAddress} %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="small-12 medium-6 xlarge-12 columns">
                    <div class="callout">
                        <h5>{{ 'checkout.step.summary.shipping' | trans }}</h5>
                        <ul class="no-bullet">
                            <li><span class="__secondary">{{ 'checkout.step.summary.with_method' | trans }}</span> {{ quoteTransfer.shipment.method.name }}</li>
                            <li>
                                {% include '@checkout/checkout/partials/summary-address.twig' with {'address': quoteTransfer.shippingAddress} %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-6 columns">
            <div class="callout">
                <ul class="no-bullet">
                    {% for item in cartItems %}
                        {% if item.bundleProduct is defined %}
                            {% include '@checkout/checkout/partials/summary-item.twig' with {'item': item.bundleProduct, 'bundleItems' : item.bundleItems} %}
                        {% else %}
                            {% include '@checkout/checkout/partials/summary-item.twig' %}
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="small-12 medium-6 columns">
            <div class="callout">
                <h5 class="float-right __secondary">{{ app['cart.quantity'] }} {{ 'checkout.step.summary.items' | trans }}</h5>
                <h5>{{ 'checkout.step.summary.overview' | trans }}</h5>
                <ul class="no-bullet">
                    <li>
                        {{ 'checkout.step.summary.sub_total' | trans }}
                        <span class="float-right">{{ quoteTransfer.totals.subtotal | money }}</span>
                    </li>
                    <li><hr></li>

                    {% include '@checkout/checkout/partials/summary-discounts.twig' %}

                    <li><strong>{{ 'checkout.step.summary.shipping' | trans }}</strong></li>
                    <li>
                        {{ quoteTransfer.shipment.method.name }}
                        <span class="float-right">{{ quoteTransfer.shipment.method.defaultPrice | money }}</span>
                    </li>
                    <li><hr></li>
                    <li class="clearfix">
                        <h5 class="float-left">{{ 'checkout.step.summary.grand_total' | trans }}</h5>
                        <h5 class="float-right"><strong>{{ quoteTransfer.totals.grandtotal | money }}</strong></h5>
                    </li>
                    <li>
                        {{ 'checkout.step.summary.tax' | trans }}
                        <span class="float-right">{{ quoteTransfer.totals.taxtotal.amount | money }}</span>
                    </li>
                  {% for payment in quoteTransfer.payments %}
                      <li>
                        {{ payment.paymentMethod }}
                        <span class="float-right">- {{ payment.amount | money }}</span>
                      </li>
                  {% endfor %}
                    <li>
                      {{ 'cart.total.price_to_pay' | trans }}
                      <span class="float-right">{{ quoteTransfer.totals.priceToPay | money }}</span>
                    </li>
                </ul>
            </div>


            {% include '@checkout/checkout/partials/voucher-form.twig' %}
        </div>
    </div>

    {{ form_start(summaryForm, {'attr': {'class': 'row'}}) }}
        <div class="small-12 columns">
            <div class="callout">
                <div class="row align-right">
                    <div class="small-12 medium-6 large-4 xlarge-3 columns">
                        <a href="{{ previousStepUrl }}" class="button expanded __no-margin-bottom">{{ 'general.back.button' | trans }}</a>
                    </div>
                    <div class="small-12 medium-6 large-4 xlarge-3 columns">
                        <button type="submit" class="button success expanded __no-margin-bottom">{{ 'checkout.step.place.order' | trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(summaryForm) }}
{% endblock %}
