{% extends "@application/layout/layout.twig" %}

{% block page %}
    <div itemscope itemtype="http://schema.org/Product" >
        {{ parent() }}
    </div>
{% endblock %}

{% block page_title %}
    {% if product.metaTitle %}
        {{ product.metaTitle }}
    {% else %}
        {{ product.name }}
    {% endif %}
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    {% if productCategories|length %}
        {% for category in productCategories %}
            <li><a href="{{ category.url }}"><span itemprop="category">{{ category.name }}</span></a></li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}
    <h3 itemprop="name">{{ product.name }}</h3>
    <link itemprop="url" href="{{ productUrl }}" />
{% endblock %}

{% block outside %}
    <div class="row hide-for-xlarge">
        <div class="small-12 columns">
            <div class="__image-viewer-block">
                {% for image in product.images %}
                    <div data-viewer-id="{{ image.externalUrlLarge }}" data-viewer-reset>
                        <a class="close-button">&times;</a>
                        <img class="thumbnail" src="{{ image.externalUrlLarge }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-6 xlarge-7 xxlarge-8 columns">
            <div class="callout text-center" data-component="viewer">
                <div class="row show-for-xlarge">
                    <div class="small-12 columns">
                        <div class="__image-viewer-inline">
                            {% for image in product.images %}
                                <div data-viewer-id="{{ image.externalUrlLarge }}" {% if loop.first %}data-viewer-default{% endif %}>
                                    <span class="thumbnail __preview-image __preview-image--large">
                                        <img itemprop="image" src="{{ image.externalUrlLarge }}">
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                        {{ spyProductAbstractLabels(product.getIdProductAbstract(), '@Product/product/partials/product-labels.twig') }}

                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row">
                            {% for image in product.images %}
                                <a class="small-6 medium-6 large-6 xlarge-expand columns" href="{{ image.externalUrlLarge }}" target="_blank" data-viewer-show="{{ image.externalUrlLarge }}">
                                    <span class="thumbnail __preview-image __preview-image--small __no-margin-bottom">
                                        <img src="{{ image.externalUrlLarge }}">
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-6 xlarge-5 xxlarge-4 columns">

            <div class="callout">
                {% if product.attributes.brand is defined %}<h5><small>{{ 'page.product.by' | trans }}</small> {{ product.attributes.brand }}</h5>{% endif %}
                <p>
                {% if product.price is not null %}
                    {% if product.prices.ORIGINAL is defined and product.prices.ORIGINAL %}
                        <span class="stat catalog-price__price-reduced">
                            {{ product.price | money }}</span> <span class="catalog-price__price-original">{{ product.prices.ORIGINAL | money }}
                        </span>
                    {% else %}
                        <span class="stat">{{ product.price | money }}</span>
                    {% endif %}
                    <br/>
                {% endif %}
                </p>
                <small>{{ 'product.attribute.sku' | trans }}: {{ product.sku }}</small>

                {{ spyProductAbstractReview(product.idProductAbstract, '@Product/product/partials/product-rating.twig') }}

                {% include '@Product/product/partials/variants.twig' %}
            </div>

            {{ spyProductGroupItems(product.idProductAbstract, '@Product/product/partials/product-group.twig') }}

            <form method="POST" action="{{ path('cart/add', {'sku': product.sku }) }}">
                {% include '@Product/product/partials/product-options.twig' %}

                <div class="callout">
                    <div class="row align-bottom">
                        <div class="small-4 xlarge-3 columns __no-margin-bottom">
                            <label>
                                {{ 'cart.item_quantity' | trans }}
                                <select name="quantity" class="__no-margin-bottom">
                                    {% for index in 1..10 %}
                                        <option value="{{ index }}">{{ index }}</option>
                                    {% endfor %}

                                </select>
                            </label>
                        </div>

                        <div class="small-8 xlarge-9 columns">
                            <button type="submit" class="button expanded success __no-margin-bottom js-add-to-cart-button" {{ (not product.isVariant or not product.available or product.price is null) ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;">
                                <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            {% if not product.available %}
                <p>
                    <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
                </p>
            {% endif %}

            {% include '@Product/product/partials/add-to-wishlist.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'product.attribute.long_description' | trans }}</h5>
                <p>{{ product.description }}</p>

                <h5>{{ 'page.product.details' | trans }}</h5>
                <div class="row">
                    {% for attributeName, attributeValue in product.attributes if attributeName  %}

                        <p class="small-12 medium-6 xlarge-4 xxlarge-3 columns" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
                            <strong itemprop="name">{{ ('product.attribute.'~attributeName) | trans }} </strong><br />
                            <span itemprop="value">{{ attributeValue }}</span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {{ render(path('product-review/submit', {idProductAbstract: product.idProductAbstract})) }}
            {{ render(path('product-review/index', {idProductAbstract: product.idProductAbstract})) }}
        </div>
    </div>

    {{ product_relation("related-products", {idProductAbstract : product.idProductAbstract}, 'Similar products', '@ProductRelation/partial/product_relation_carousel.twig') }}

    <div class="row">
        {{ spyCmsBlock({product_abstract: product.idProductAbstract}) }}
    </div>
{% endblock %}
