{% extends "@application/layout/layout.twig" %}

{% block page_title %}
    {% if product.metaTitle %}
        {{ product.metaTitle }}
    {% else %}
        {{ product.name }}
    {% endif %}
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    {% if productCategories|length %}
        {% for category in productCategories %}
            <li><a href="{{ category.url }}">{{ category.name }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}
    <h3>{{ product.name }}</h3>
{% endblock %}

{% block outside %}
    <div class="row hide-for-xlarge">
        <div class="small-12 columns">
            <div class="__image-viewer-block">
                {% for image in product.images %}
                    <div data-viewer-id="{{ image.externalUrlLarge }}" data-viewer-reset>
                        <a class="close-button">&times;</a>
                        <img class="thumbnail" src="{{ image.externalUrlLarge }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-6 xlarge-7 xxlarge-8 columns">
            <div class="callout text-center">
                <div class="row show-for-xlarge">
                    <div class="small-12 columns">
                        <div class="__image-viewer-inline">
                            {% for image in product.images %}
                                <div data-viewer-id="{{ image.externalUrlLarge }}" {% if loop.first %}data-viewer-default{% endif %}>
                                    <span class="thumbnail __preview-image __preview-image--large">
                                        <img src="{{ image.externalUrlLarge }}">
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row">
                            {% for image in product.images %}
                                <a class="small-6 medium-6 large-6 xlarge-expand columns" href="{{ image.externalUrlLarge }}" target="_blank" data-viewer-show="{{ image.externalUrlLarge }}">
                                    <span class="thumbnail __preview-image __preview-image--small">
                                        <img src="{{ image.externalUrlLarge }}">
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-6 xlarge-5 xxlarge-4 columns">

            <div class="callout">
                {% if product.attributes.brand is defined %}<h5><small>{{ 'page.product.by' | trans }}</small> {{ product.attributes.brand }}</h5>{% endif %}
                <p>
                    <span class="stat">{{ product.price | money }}</span>
                </p>

                {% include '@Product/product/partials/variants.twig' %}
            </div>

            {% set available = false %}

            {% if availability.concreteProductAvailableItems[product.sku] is defined %}
                {% if availability.concreteProductAvailableItems[product.sku] %}
                    {% set available = true %}
                {% endif %}
            {% endif %}

            <form method="POST" action="/cart/add/{{ product.sku }}">
                {% include '@Product/product/partials/product-options.twig' %}
                <div>
                    <button type="submit" class="button expanded success" {{ (not product.isVariant or not available) ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;">
                        <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
                    </button>

                    <div class="small-12 columns"></div>
                </div>
            </form>

            {% if not available and product.isVariant %}
                <p>
                    <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'product.attribute.long_description' | trans }}</h5>
                <p>{{ product.description }}</p>

                <h5>{{ 'page.product.details' | trans }}</h5>
                <div class="row">
                    {% for attributeName, attributeValue in product.attributes if attributeName  %}

                        <p class="small-12 medium-6 xlarge-4 xxlarge-3 columns">
                            <strong>{{ ('product.attribute.'~attributeName) | trans }} </strong><br>
                            {{ attributeValue }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
