{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <link rel="stylesheet" href="/styles/customer.css" />
    <script src="/scripts/app/customer.js"></script>

    <section id="customer" class="consumeHeight">
        {% include "@application/partials/flash_bag.twig" %}
        <div class="dialog">
            <div class="container">
                <div class="tabs">
                    <div class="columns small-6">
                        <div class="tab active" data-target="content-register">
                            <h3>{{ 'customer.register.headline'|trans }}</h3>
                            <h4>{{ 'customer.register.caption'|trans }}</h4>
                        </div>
                    </div>
                    <div class="columns small-6">
                        <div class="tab" data-target="content-login">
                            <h3>{{ 'customer.login.headline'|trans }}</h3>
                            <h4>{{ 'customer.login.caption'|trans }}</h4>
                        </div>
                    </div>
                </div>
                <div class="content" id="content-register">
                    <div>
                        <h3>{{ 'customer.register.box.headline'|trans }}</h3>
                        <p>{{ 'customer.register.box.caption'|trans }}</p>
                    </div>
                    {{ form_start(registrationForm, {attr: {class: 'customerLogin', novalidate: 'novalidate'}, action: path('login')}) }}
                    {{ form_errors(registrationForm) }}
                    {{ form_row(registrationForm._token) }}
                    <div class="row">
                        {{ form_row(registrationForm.email, {label : 'customer.email', attr : {'class' : 'fullWidth'}}) }}
                    </div>
                    <div class="row">
                        {{ form_row(registrationForm.password, {label : 'customer.password', attr : {'class' : 'fullWidth', required : 'required', pattern : '^.{6,30}$', maxlength : 30, 'data-validation-message' : 'customer.register.password.poor'|trans}}) }}
                    </div>
                    <div class="row">
                        <button class="continue" type="submit">{{ 'customer.create'|trans }}</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="content" id="content-login">
                    <div>
                        <h3>{{ 'customer.login.box.headline'|trans }}</h3>
                    </div>
                    {{ form_start(loginForm, {attr: {class: 'customerLogin', novalidate: 'novalidate'}, action: path('login_check')}) }}
                    {{ form_errors(loginForm) }}

                    <div class="row">
                        {{ form_row(loginForm.username, {label : 'customer.email', attr : {'class' : 'fullWidth'}}) }}
                    </div>
                    <div class="row">
                        {{ form_row(loginForm.password, {label : 'customer.password', attr : {'class' : 'fullWidth'}}) }}
                        <a class="hint" href="javascript:app.customer.showPwReset();">{{ 'customer.password.forgotten'|trans }}</a>
                    </div>
                    <div class="row">
                        <button class="continue" type="submit">{{ 'customer.login'|trans }}</button>
                    </div>
                    {{ form_end(loginForm, {render_rest:false}) }}
                </div>
            </div>
            <div class="container requestPassword">
                {{ form_start(forgotPasswordForm, {attr: {class: 'forgotPasswordLogin', novalidate: 'novalidate'}, action: path('forgot/password')}) }}
                {{ form_errors(forgotPasswordForm) }}

                {{ form_widget(forgotPasswordForm._token) }}

                <div class="row">
                    {{ form_row(forgotPasswordForm.email, {label : 'customer.email', attr : {'class' : 'fullWidth'}}) }}
                </div>
                <div class="row">
                    <button class="continue" type="submit">{{ 'customer.password.request'|trans }}</button>
                </div>
                {{ form_end(forgotPasswordForm) }}
            </div>
        </div>
        <div id="validationMessages" data-validation-message-required="{{ 'checkout.validation.message.required'|trans }}" data-validation-message-email="{{ 'checkout.validation.message.email'|trans }}" data-validation-message-pattern="{{ 'checkout.validation.message.pattern'|trans }}"></div>
    </section>
{% endblock %}
