{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <link rel="stylesheet" href="/styles/customer.css" />
    <script src="/scripts/app/customer.js"></script>

    <section id="customer" class="consumeHeight">
        {% include "@application/partials/flash_bag.twig" %}
        <div class="dialog">
            <div class="container">
                <div class="tabs">
                    <div class="cols fullWidth">
                        <div class="tab active" data-target="content-register">
                            <h3>{{ 'customer.password.restore.headline'|trans }}</h3>
                        </div>
                    </div>
                </div>
                {{ form_start(restorePasswordForm, {attr: {class: 'restorePassword', style: 'margin-top:0;', novalidate: 'novalidate'}}) }}
                {{ form_errors(restorePasswordForm) }}
                {% if errors is defined %}
                    {% for error in errors %}
                        <div class="row message error" style="margin-bottom:12px;padding-bottom:10px;" >
                            {{ error.message|trans }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form_row(restorePasswordForm.restore_password_key) }}
                {{ form_row(restorePasswordForm._token) }}
                {{ form_row(restorePasswordForm.password.first, {attr: {pattern : '^.{6,30}$', maxlength : 30, 'data-validation-message' : 'customer.password.poor'|trans}}) }}
                {{ form_row(restorePasswordForm.password.second, {attr: {pattern : '^.{6,30}$', maxlength : 30, 'data-validation-message' : 'customer.password.poor'|trans}}) }}
                <div class="row">
                    <p>{{ 'customer.password.restore.caption'|trans }}</p>
                </div>
                <div class="row">
                    <button class="continue" type="submit">{{ 'customer.password.restore'|trans }}</button>
                </div>
                {{ form_end(restorePasswordForm) }}
            </div>
        </div>
    </section>
{% endblock %}
