{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <link rel="stylesheet" href="/styles/customer.css" />

    <section id="customer" class="consumeHeight">
        {% if errors %}
            <div>
                {% for error in errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="dialog">
            <div class="container">
                {{ form_start(form, {attr: {class: 'restorePassword', novalidate: 'novalidate'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.restore_password_key) }}
                <div class="row">
                    {{ form_row(form.password, {label : 'customer.password'}) }}
                </div>
                <div class="row">
                    {{ form_row(form.new_password, {label : 'customer.new_password'}) }}
                </div>
                <div class="row">
                    <button class="continue" type="submit">Restore password</button>
                </div>
                {{ form_end(form, {render_rest:false}) }}
            </div>
        </div>
    </section>
{% endblock %}
