{% set robots = 'noindex, nofollow' %}
{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <link rel="stylesheet" href="/styles/customer.css" />

    <section id="customer" class="consumeHeight">
        {% if errors %}
            {% for error in errors %}
                <div class="message error" >
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="dialog">
            <div class="container">
                {{ form_start(form, {attr: {class: 'restorePassword', novalidate: 'novalidate'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.restore_password_key) }}
                {{ form_row(form._token) }}
                <div class="row">
                    {{ form_row(form.password) }}
                </div>
                <div class="row">
                    <button class="continue" type="submit">{{ 'customer.password.restore'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
