<div class="checkbox {{modifier_class}}">
    <input class="checkbox__input" type="checkbox" id="{{id}}" name="{{name}}" value="{{value}}">
    <label class="checkbox__label" for="{{id}}">{{label}}</label>
</div>