{% set suggestionsLength = 6 %}
{% set categoriesLength = 3 %}
{% set pagesLength = 3 %}
{% set productsLength = 6 %}

{% set leftVisible = (completion is defined and completion is not empty)
    or (suggestionByType.category is defined and suggestionByType.category is not empty)
    or (suggestionByType.cms_page is defined and suggestionByType.cms_page is not empty) %}

{% set rightVisible = suggestionByType.product_abstract is defined
    and suggestionByType.product_abstract is not empty %}

<div class="callout suggestions-panel">
    <div class="row">
        {% if leftVisible %}
            <div class="columns __no-margin-bottom">
                {% if completion is defined and completion is not empty %}
                    <h6 class="show-for-medium">{{ 'global.search.suggestions' | trans }}</h6>
                    <ul class="no-bullet">
                        {% for item in completion | slice(0, suggestionsLength) %}
                            <li><a class="suggestions-panel__hint js-navigable" href="{{ path('search', {'q': item}) }}">{{ item }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="show-for-medium">
                    {% include '@catalog/suggestion/partials/list.twig' with {
                        name: ('global.search.suggestion.in_categories' | trans),
                        items: suggestionByType.category | default(),
                        length: categoriesLength
                    } %}
                </div>

                <div class="show-for-medium">
                    {% include '@catalog/suggestion/partials/list.twig' with {
                        name: ('global.search.suggestion.in_cms' | trans),
                        items: suggestionByType.cms_page | default(),
                        length: pagesLength
                    } %}
                </div>
            </div>
        {% endif %}

        {% if rightVisible %}
            <div class="columns show-for-medium __no-margin-bottom">
                <h6>{{ 'global.search.suggestion.in_products' | trans }}</h6>
                {% for product in suggestionByType.product_abstract | slice(0, productsLength)  %}
                    {% include '@catalog/suggestion/partials/product.twig' %}
                {% endfor %}

                <div class="text-right">
                    <a class="js-all-products">{{ 'global.search.suggestion.see_all_products' | trans }} &raquo;</a>
                </div>
            </div>
        {% endif %}

        {% if not leftVisible and not rightVisible %}
           <div class="small-12 columns text-center">
               {{ 'global.search.suggestion.no_result' | trans }}
           </div>
        {% endif %}
    </div>
</div>
