<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" type="text/css" href="/styles/initial.css" />
        <link rel="stylesheet" type="text/css" href="/styles/global.css" />

        <script src="/scripts/vendor/jquery-min.js"></script>
        <script src="/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="/scripts/app/main.js"></script>
        <script src="/scripts/app/ui.js"></script>
        <script>
            // hardcoded
            app.vars.storeLocale = 'US';
        </script>
    {% endblock %}
</head>
<body>

<section>
    <header>
        <div class="row">
            <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
            <a href="/" id="logo" class="col col33">
                <img src="/images/logo.png" alt="logo" />
            </a>
            <div class="col col67">
                <ul class="usps">
                    <li><span class="glyphicon glyphicon-gift"></span>{{ 'header.usp.shipping'|trans }}</li>
                    <li><span class="glyphicon glyphicon-refresh"></span>{{ 'header.usp.return'|trans }}</li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span>{{ 'header.phone'|trans }}</li>
                </ul>
            </div>
        </div>
    </header>
</section>

{% block content %}{% endblock %}

<footer>
    {% block footer %}
        <section class="transparent">
            <hardcoded block>
                <ul class="simple">
                    <li class="col col20"><a href="/agb">Terms of Service</a></li>
                    <li class="col col20"><a href="/impressum">Imprint</a></li>
                    <li class="col col20"><a href="/datenschutz">Privacy</a></li>
                    <li class="col col20"><a href="/widerrufsrecht">Withdrawal</a></li>
                    <li class="col col20"><a href="/ruecksendungen">Returns</a></li>
                    <li class="col col20"><a href="/kontakt">Contact</a></li>
                    <li class="col col20"><a href="/kontakt">FAQ</a></li>
                </ul>
            </hardcoded>
        </section>
    {% endblock %}
</footer>

<link rel="stylesheet" href="/styles/responsive.css" />
</body>
</html>
