<table class="stack">
    <thead>
        <tr class="active">
            <th>{{ 'customer.offer.offer_id' | trans }}</th>
            <th>{{ 'customer.offer.date' | trans }}</th>
            <th class="text-right">{{ 'customer.offer.total' | trans }}</th>
            <th class="text-right">{{ 'customer.table.actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for offer in offerList %}
        {% set dateTime = date(offer.createdAt) %}
        <tr>
            <td>{{ offer.idOffer }}</td>
            <td>{{ dateTime | formatDateTime }}</td>
            <td class="text-right">{{ offer.quote.totals.grandTotal | default(0) | money(true, offer.quote.currency.code) }}</td>
            <td class="text-right">
                <a href="{{ path('customer/offer/details', {'id': offer.idOffer}) }}">
                    <small><i class="fa fa-cart-arrow-down"></i> {{ 'customer.offer.view_offer' | trans }}</small>
                </a>
                {% if offer.status != "Close" %}
                    <a href="{{ path('customer/offer/convert-offer', {'offerId': offer.idOffer}) }}">
                        <small><i class="fa fa-cart-arrow-down"></i> {{ 'customer.offer.convert_offer' | trans }}</small>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
