<table>
    <thead>
        <tr>
            <th class="text-left">{{ 'customer.order.item_sku' | trans }}</th>
            <th class="text-left">{{ 'customer.order.product_name' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_price' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_quantity' | trans }}</th>
            <th class="text-right">{{ 'customer.offer.saving' | trans }}</th>
            <th class="text-right">{{ 'customer.order.item_sum' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for offerItem in items %}

        {% if offerItem.bundleItems is defined  %}
            {% include "@customer/offer/partials/offer-items-bundled.twig" %}
        {% else %}
            <tr>
                <td class="text-left">
                    {{ offerItem.sku }}
                </td>
                <td class="text-left">
                    {{ offerItem.name }}
                </td>
                <td class="text-right">
                    {{ offerItem.unitPrice | money(true, offer.quote.currency.code) }}
                </td>
                <td class="text-right">
                    {{ offerItem.quantity }}
                </td>
                <td class="text-right">
                    {{ offerItem.savingAmount | money(true, offer.quote.currency.code) }}
                </td>
                <td class="text-right">
                    {{ offerItem.unitPriceToPayAggregation | money(true, offer.quote.currency.code) }}
                </td>
            </tr>
            {% include "@customer/offer/partials/offer-items-options.twig" %}
        {% endif %}

    {% endfor %}
    </tbody>
</table>
