
<div class="menu-teaser-product" style="background: url({{ product.image }});">
    <div class="menu-teaser-product__label">{{ product.label }}</div>

    <div class="menu-teaser-product__content">
        <div class="menu-teaser-product__description">{{ product.description }}</div>
        <div class="menu-teaser-product__title">{{ product.title }}</div>
        <div class="menu-teaser-product__price">{{ product.price | price }}</div>
        <a href="{{ product.url }}" class="menu-teaser-product__button button">
            Zum Produkt
        </a>
    </div>
</div>