<link rel="stylesheet" href="{{ asset('styles/newsletter.css') }}" />
<script src="{{ asset('scripts/app/newsletter.js') }}"></script>

<div class="newsletter-teaser:wrapper">
    <div class="newsletter-teaser:main">
        <div class="badge"></div>
        <h1>{{ 'newsletter.subscription.cancellation.headline'|trans }}</h1>
        {{ form_start(cancellationForm, {attr: {class: 'subscription', novalidate: 'novalidate'}, action: path('unsubscribe')}) }}
        {{ form_errors(cancellationForm) }}
        {{ form_row(cancellationForm._token) }}
        {{ form_row(cancellationForm.email, { label : 'newsletter.subscription.cancellation.email', attr : {'class' : 'fullWidth', 'placeholder' : 'newsletter.subscription.email.placeholder'|trans }}) }}
        <button type="submit" class="ok">{{ 'newsletter.subscription.cancel'|trans }}</button>
        <div class="caption">
            <p>{% autoescape false %}{{ 'newsletter.subscription.cancellation.caption'|trans }}{% endautoescape %}</p>
        </div>
        {{ form_end(cancellationForm) }}
        <div id="validationMessages" data-validation-message-required="{{ 'validation.message.required'|trans }}" data-validation-message-email="{{ 'validation.message.email'|trans }}"></div>
    </div>
</div>