<div class="small-4 medium-3 large-2 columns">
    <ul class="no-bullet">
        <form method="POST" action="{{ '/cart/add/' ~ promotionStorageProduct.sku }}">
            <li>
                <label>
                    <strong>{{ 'cart.item_quantity' | trans }}</strong>
                    <span class="input-group __no-margin-bottom">
                        <select name="quantity">
                         {% for i in range(1, promotionStorageProduct.promotionItem.maxQuantity) %}
                             <option value="{{ i }}">{{ i }}</option>
                         {% endfor %}
                        </select>
                </label>
                <input type="hidden" value="{{ promotionStorageProduct.sku }}" name="groupKey">
                <input type="hidden" value="{{ promotionStorageProduct.promotionItem.discount.discountPromotion.idDiscountPromotion }}" name="idDiscountPromotion">
            </li>
            <li>
                <button type="submit" class="button expanded success {{ ( promotionStorageProduct.isVariant) ? '' : 'disabled' }}  __no-margin-bottom">
                    {{ "Add to cart" }}
                </button>
            </li>
        </form>
    </ul>
</div>
