<div class="callout cart-item">

    <div class="row">
        <div class="small-9 large-expand columns">
            <ul class="no-bullet">
                <li class="lead">{{ promotionStorageProduct.promotionItem.discount.displayName }}</li>
                <li>{{ promotionStorageProduct.promotionItem.discount.description }}</li>
            </ul>
        </div>
    </div>

    <div class="row">

        {% include '@Cart/cart/parts/cart-images.twig' with {cartItem : promotionStorageProduct } %}

        <div class="small-9 large-expand columns">
            <ul class="no-bullet">
                {# General data #}
                <li class="lead">{{ promotionStorageProduct.name }}</li>
                <li class="__secondary">
                    <small>{{ 'cart.item.sku' | trans }} {{ promotionStorageProduct.sku }}</small>
                </li>

                {% include '@DiscountPromotion/discount-promotion/product-variants.twig' %}
            </ul>
        </div>

        {% include '@DiscountPromotion/discount-promotion/item-prices.twig' %}

        {% include '@DiscountPromotion/discount-promotion/add-to-cart.twig' %}
    </div>
</div>
