<div class="category-header">

   <div class="category-header__hero">
       <div class="category-header__hero-title">
           <div class="category-header__hero-content">
               <h1 class="category-header__hero-headline">{{category | raw}}</h1>
           </div>
       </div>

       <div class="category-header__hero-image">
           <img src="{{ image }}" alt="Produktabbildung {{ category }}" />
       </div>
   </div>


   <div class="category-header__badges">
       <div class="category-header__badge">
            <img src="/images/category/batch_quality.jpg" alt="Stempel Qualität" />
        </div>
        <div class="category-header__badge">
            <img src="/images/category/batch_artgerecht.jpg" alt="Stempel artgerecht" />
        </div>
        <div class="category-header__badge">
            <img src="/images/category/batch_tricks.jpg" alt="Stempel keine Tricks" />
       </div>
   </div>


   <div class="category-header__categories">
       <div class="category-header__categories-inner">

           {% for category in categories %}
           <div class="category-header__category">
               <a href="{{ category.url }}" class="category-header__category-link {% if loop.first %} category-header__category-link--active {% endif %}">
                   {{ category.title }}
               </a>
           </div>
           {% endfor %}

       </div>
   </div>

</div>