{% extends "@application/layout/full.twig" %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('styles/customer.css') }}"/>
    <script src="{{ asset('scripts/app/customer.js') }}"></script>
    <script>app.customer.address.items = {{ otherAddressesJson ? otherAddressesJson|raw : '{}' }};</script>

    <section class="customer addresses consumeHeight" id="customer">
        <h1 class="caption global">{{ 'customer.account.headline'|trans }}</h1>
        {% include "@application/partials/flash_bag.twig" %}
        {% include "@customer/partials/options.twig" with { active : 'addresses' } only %}
        <div class="col col75">
            <div class="container">
                <h2 class="caption">
                    {{- 'customer.addresses.caption'|trans -}}
                    <button class="ok" onclick="app.customer.address.add();" style="font-size:14px;">{{ 'customer.address.add'|trans }}</button>
                </h2>
                {% if shippingAddress.idCustomerAddress != billingAddress.idCustomerAddress %}
                <div class="col col50 mod:first">
                    <h3 class="caption">{{ 'customer.address.default.billing.caption'|trans }}</h3>
                    {% else %}
                    <div class="col fullWidth mod:first">
                        <h3 class="caption">{{ 'customer.address.default.billing.shipping.caption'|trans }}</h3>
                        {% endif %}
                        {% if billingAddress.address1 %}
                            <div class="address default-billing">
                                <strong>{{ ('checkout.salutation.'~ billingAddress.salutation|lower)|trans }} {{ billingAddress.firstName }} {{ billingAddress.lastName }}</strong><br/>
                                {%- if billingAddress.company -%}
                                    <strong>{{ billingAddress.company }}</strong><br/>
                                {%- endif -%}
                                {{- billingAddress.address1 }} {{ billingAddress.address2 -}}<br/>
                                {%- if billingAddress.address3 -%}
                                    {{ billingAddress.address3 }}<br/>
                                {%- endif -%}
                                {{- billingAddress.zipCode }} {{ billingAddress.city -}}
                            </div>
                            <div class="actions">
                                <a href="javascript:app.customer.address.change({{ billingAddress.idCustomerAddress }}, true);">{{ 'customer.address.change'|trans }}</a>
                                {% if shippingAddress.idCustomerAddress != billingAddress.idCustomerAddress %}
                                    <a href="{{ url('address/set/default/shipping', {'address': billingAddress.idCustomerAddress }) }}">{{ 'customer.address.make.default.shipping'|trans }}</a>
                                {% endif %}
                            </div>
                        {% else %}
                            {{ 'customer.address.default.billing.none'|trans }}
                        {% endif %}
                    </div>
                    {% if shippingAddress.idCustomerAddress != billingAddress.idCustomerAddress %}
                        <div class="col col50 mod:last">
                            <h3 class="caption">{{ 'customer.address.default.shipping.caption'|trans }}</h3>
                            {% if shippingAddress.address1 %}
                                <div class="address default-shipping">
                                    <strong>{{ ('checkout.salutation.'~ shippingAddress.salutation|lower)|trans }} {{ shippingAddress.firstName }} {{ shippingAddress.lastName }}</strong><br/>
                                    {%- if shippingAddress.company -%}
                                        <strong>{{ shippingAddress.company }}</strong><br/>
                                    {%- endif -%}
                                    {{- shippingAddress.address1 }} {{ shippingAddress.address2 -}}<br/>
                                    {%- if shippingAddress.address3 -%}
                                        {{ shippingAddress.address3 }}<br/>
                                    {%- endif -%}
                                    {{- shippingAddress.zipCode }} {{ shippingAddress.city -}}
                                </div>
                                <div class="actions">
                                    <a href="javascript:app.customer.address.change({{ shippingAddress.idCustomerAddress }}, true);">{{ 'customer.address.change'|trans }}</a>
                                    <a href="{{ url('address/set/default/billing', {'address': shippingAddress.idCustomerAddress }) }}">{{ 'customer.address.make.default.billing'|trans }}</a>
                                </div>
                            {% else %}
                                {{ 'customer.address.default.shipping.none'|trans }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% include "@customer/partials/edit-address.twig" %}
                    <div class="other-addresses col fullWidth">
                        {% include "@customer/partials/other-addresses.twig" with { otherAdresses: 'otherAdresses' } %}
                    </div>
                </div>
            </div>
            <div id="validationMessages" data-validation-message-required="{{ 'validation.message.required'|trans }}"></div>
    </section>
{% endblock %}
