{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div style="margin-top: 65px;padding: 30px;overflow:hidden">
        {% include "@customer/customer/partials/navigation.twig" with {'active': 'overview'} %}

        <div style="float:left;width:70%">
            <h1>{{ 'customer.account.overview' | trans }}</h1>

            {% if orderList | length %}
                {% include "@customer/order/partials/order-list.twig" %}
            {% else %}
                <p>{{ 'customer.account.no_order' | trans }}</p>
            {% endif %}

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="pull-right" href="{{ url('customer/profile') }}">{{ 'edit' | trans }}</a>
                            <h3>{{ 'customer.account.profile_data' | trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <div style=" float:left;width:50%">
                                <strong>{{ customer.firstName }} {{ customer.lastName }}</strong>
                                <p>{{ customer.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="pull-right" href="{{ url('customer/newsletter') }}">{{ 'edit' | trans }}</a>
                            <h3>{{ 'customer.account.newsletter' | trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                {% if isSubscribed %}
                                    {{ 'customer.newsletter.subscribed' | trans }}
                                {% else %}
                                    {{ 'customer.newsletter.not_subscribed' | trans }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            {% if addresses.billing is defined %}
                            <a class="pull-right" href="{{ url('customer/address/update', {'id': addresses.billing.idCustomerAddress}) }}">{{ 'edit' | trans }}</a>
                            {% endif %}
                            <h3>{{ 'customer.account.default_billing_address' | trans }}</h3>
                        </div>
                        <div class="panel-body">
                            {% if addresses.billing is defined %}
                                <h4>{{ addresses.billing.firstName }} {{ addresses.billing.lastName }}</h4>
                                <p>{{ addresses.billing.address1 }} {{ addresses.billing.address2 }} {{ addresses.billing.address3 }}</p>
                                <p>{{ addresses.billing.zipCode }} {{ addresses.billing.city }}</p>
                            {% else %}
                                <div>
                                    <a href="{{ url('customer/address/new') }}">{{ 'customer.account.please_specify_billing_address' | trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            {% if addresses.shipping is defined %}
                            <a class="pull-right" href="{{ url('customer/address/update', {'id': addresses.shipping.idCustomerAddress}) }}">{{ 'edit' | trans }}</a>
                            {% endif %}
                            <h3>{{ 'customer.account.default_shipping_address' | trans }}</h3>
                        </div>
                        <div class="panel-body">
                            {% if addresses.shipping is defined %}
                                <h4>{{ addresses.shipping.firstName }} {{ addresses.shipping.lastName }}</h4>
                                <p>{{ addresses.shipping.address1 }} {{ addresses.shipping.address2 }} {{ addresses.shipping.address3 }}</p>
                                <p>{{ addresses.shipping.zipCode }} {{ addresses.shipping.city }}</p>
                            {% else %}
                                <div>
                                    <a href="{{ url('customer/address/new') }}">{{ 'customer.account.please_specify_shipping_address' | trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
