<div class="details showonprint" id="details-{{ order.incrementId }}">
    <img id="loading-{{ order.incrementId }}" height="11" width="16" style="display:none" src='{{ asset('images/loading.gif') }}'/>
    <div id="error-loading" style="display:none;">{{ 'error.order.loading'|trans }}</div>

    <div class="col col33 mod:first floatonprint">
        <h4 class="caption">{{ 'customer.order.address.shipping'|trans }}</h4>
        <div class="row">{{- order.shippingAddress.firstName }} {{ order.shippingAddress.lastName -}}</div>
        {%- if order.shippingAddress.company -%}
            <div class="row">{{- order.shippingAddress.company -}}</div>
        {%- endif -%}
        <div class="row">{{- order.shippingAddress.address1 }} {{ order.shippingAddress.address2 -}}</div>
        {%- if order.shippingAddress.address3 -%}
            <div class="row">{{- order.shippingAddress.address3 -}}</div>
        {%- endif -%}
        <div class="row">{{- order.shippingAddress.zipCode }} {{ order.shippingAddress.city -}}</div>
    </div>
    <div class="col col33 floatonprint">
        <h4 class="caption">{{ 'customer.order.address.billing'|trans }}</h4>
        <div class="row">{{- order.billingAddress.firstName }} {{ order.billingAddress.lastName -}}</div>
        {%- if order.billingAddress.company -%}
            <div class="row">{{- order.billingAddress.company -}}</div>
        {%- endif -%}
        <div class="row">{{- order.billingAddress.address1 }} {{ order.billingAddress.address2 -}}</div>
        {%- if order.billingAddress.address3 -%}
            <div class="row">{{- order.billingAddress.address3 -}}</div>
        {%- endif -%}
        <div class="row">{{- order.billingAddress.zipCode }} {{ order.billingAddress.city -}}</div>
    </div>
    <table class="cart col fullWidth">
        <thead>
            <tr>
                <th class="fullWidth">{{ 'customer.order.product'|trans }}</th>
                <th class="fullWidth">{{ 'customer.order.amount'|trans }}</th>
                <th class="fullWidth">{{ 'customer.order.price.total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.grossPrice }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>{{ 'customer.order.price.subtotal'|trans }}</td>
                <td>{{ order.totals.subtotal }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ 'customer.order.price.shipping'|trans }}</td>
                <td>
                    {%- for expense in order.totals.expenses.expenseItems -%}
                        {%- if expense.type == 'shipping' -%}
                            {{- expense.grossPrice -}}
                        {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ 'customer.order.price.grand.total'|trans }}</td>
                <td>{{ order.totals.grandTotal }}</td>
            </tr>
        </tfoot>
    </table>
</div>