{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="{{ asset('styles/customer.css') }}" />
    <script src="{{ asset('scripts/app/customer.js') }}"></script>
    <script src="{{ asset('scripts/app/newsletter.js') }}"></script>

    <section class="customer account consumeHeight" id="customer">
        <h1 class="caption global">{{ 'customer.account.headline'|trans }}</h1>
        {% include "@application/partials/flash_bag.twig" %}
        {% include "@customer/partials/options.twig" with {active: 'profile'} only %}
        <div class="col col75 mod:last">
            <div class="container">
                <h2 class="caption">{{ 'customer.profile.caption'|trans }}</h2>
                <div class="col col50 mod:first">
                    {% include "@customer/partials/change-email.twig" %}
                </div>
                <div class="col col50 mod:last">
                    {% include "@customer/partials/change-password.twig" %}
                    <div>&#160;</div>
                    {% include "@customer/partials/newsletter.twig" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
