<p>
    {% set totalReviewCount = 0 %}
    {% set totalRating = 0 %}
    {% for rating in 1..5 %}
        {% set reviewCount = ratingAggregation[rating] | default(0) %}
        {% set totalReviewCount = totalReviewCount + reviewCount %}
        {% set totalRating = totalRating + reviewCount * rating %}
    {% endfor %}

    {% set averageRating = (totalRating / totalReviewCount) | round(2)%}
    {% set roundedAverageRating = averageRating | round(0, 'floor') %}
    {% include '@ProductReview/index/partials/read-only-rating.twig' with {'rating': roundedAverageRating } %}

    <span>
        {{ averageRating }}
        {{ 'product_review.summary.out_of' | trans }}
        5
        {{ 'product_review.summary.stars' | trans }}
        (
            {{- totalReviewCount }}
            {% transchoice totalReviewCount %}
            product_review.summary.review|product_review.summary.reviews
            {% endtranschoice -%}
        )
    </span>
</p>

<p>
    {% for rating in 1..5 %}
        {% set reviewCount = ratingAggregation[rating] | default(0) %}
        <div>
            <div class="review-map-column review-map-rating-column">
                {{ rating }}
                {% transchoice rating %}
                    product_review.summary.star|product_review.summary.stars
                {% endtranschoice %}
            </div>
            <div class="review-map-column">
                <progress class="rating-map" max="100" value="{{ (reviewCount / totalReviewCount ) * 100 }}"></progress>
            </div>
            <div class="review-map-column">
                {{ reviewCount }}
            </div>
        </div>
    {% endfor %}
</p>
