<p>
    {% include '@ProductReview/index/partials/read-only-rating.twig' with {'rating': ratingAggregation.averageRating } %}

    {% if ratingAggregation.averageRating > 0 %}
        <span>
            {{ ratingAggregation.averageRating }}
            {{ 'product_review.summary.out_of' | trans }}
            {{ ratingAggregation.maximumRating }}
            {{ 'product_review.summary.stars' | trans }}
            (
                {{- ratingAggregation.totalReview }}
                {% transchoice ratingAggregation.totalReview %}
                product_review.summary.review|product_review.summary.reviews
                {% endtranschoice -%}
            )
        </span>
    {% else %}
        <span>{{ 'product_review.no_reviews' | trans }}</span>
    {% endif %}
</p>

<p>
    {% for rating,ratingDetails in ratingAggregation.ratingAggregation %}
        <div>
            <div class="review-map-column review-map-rating-column">
                {{ rating }}
                {% transchoice rating %}
                    product_review.summary.star|product_review.summary.stars
                {% endtranschoice %}
            </div>
            <div class="review-map-column">
                <progress class="rating-map" max="100" value="{{ ratingDetails.percentage }}"></progress>
            </div>
            <div class="review-map-column">
                {{ ratingDetails.count }}
            </div>
        </div>
    {% endfor %}
</p>
