{% extends "@application/layout/layout.twig" %}

{% block content %}
<div class="cms-page" style="overflow:hidden">
    <h1>{{ 'customer.forgotten-password.title' | trans }}</h1>
    <h2>{{ 'customer.forgotten-password.send-new-password' | trans }}</h2>
    <p>{{ 'customer.forgotten-password.description' | trans }}</p>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <label>{{ form.email.vars.label | trans }}</label>
    <div class="field">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="frame buttons cfx">
        <input type="submit" value="{{ 'forms.submit-btn' | trans }}" />
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
