{% extends "@application/layout/layout.twig" %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url('login') }}">{{ 'customer.login' | trans }}</a></li>
{% endblock %}

{% block title %}
    <h3>{{ 'customer.forgotten-password.title' | trans }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <p>{{ 'customer.forgotten-password.description' | trans }}</p>
                <div class="small-12 medium-6 large-5">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <label>
                            {{ form.email.vars.label | trans }}*
                            <div class="input-group">
                                <span class="input-group-label">
                                    <i class="fa fa-at"></i>
                                </span>
                                {{ form_widget(form.email, {'attr': {'class': 'input-group-field', 'placeholder': form.email.vars.label | trans }}) }}
                            </div>
                        </label>
                        {{ form_errors(form.email) }}

                        <div class="small-12">
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <a href="{{ url('login') }}" class="button expanded">{{ 'general.back.button' | trans }}</a>
                                </div>

                                <div class="small-12 medium-6 columns">
                                    <button class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
                                </div>
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
