{% extends "@application/layout/layout.twig" %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url('login') }}">{{ 'customer.login' | trans }}</a></li>
{% endblock %}

{% block title %}
    <h3>{{ 'customer.password.restore' | trans }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <div class="small-12 medium-6 large-5">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <label>
                        {{ form.password.pass.vars.label | trans }}*
                        <span class="input-group">
                            <span class="input-group-label">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                                    {{ form_widget(form.password.pass, {'attr': {'class': 'input-group-field'}}) }}
                        </span>
                    </label>
                    {{ form_errors(form.password.pass) }}

                    <label>
                        {{ form.password.confirm.vars.label | trans }}*
                        <span class="input-group">
                            <span class="input-group-label">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                                    {{ form_widget(form.password.confirm, {'attr': {'class': 'input-group-field'}}) }}
                        </span>
                    </label>
                    {{ form_errors(form.password.confirm) }}

                    <div class="small-12">
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <a href="{{ url('login') }}" class="button expanded">{{ 'general.back.button' | trans }}</a>
                            </div>

                            <div class="small-12 medium-6 columns">
                                <button class="button success expanded">{{ 'forms.submit-btn' | trans }}</button>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
