<h2 class="cart-layer__headline">Warenkorb</h2>


{% if cart.items | length > 0 %}


    <div class="cart-layer__items">
        {% for item in cart.items %}
            {# item.thumbnail #}
            {% include '@application/layout/content/product/cart/cart-item.twig' with {
                image: '../images/cart/thumbnail.png',
                title: item.name,
                weight: '250g',
                quantity: item.quantity,
                price: item.grossPrice,
                sku: item.sku,
                groupKey: item.groupKey,
                url: (item.url | default(''))
            } %}
        {% endfor %}
    </div>

    <div class="cart-layer__upsell">&nbsp;</div>

    <div class="cart-layer__amount">
        <div class="cart-layer__total">Gesamtbetrag
            <em>{{ cart.totals.grandTotalWithDiscounts | price }}</em>
        </div>
        <div>
            {% include '@application/layout/common/forms/button.twig' with {
                modifier: 'cta',
                title: 'Weiter zur Kasse',
                url: '/checkout'
            } %}
        </div>
    </div>





    {% if false %}
        <div class="cart__discount">
            <div class="cart__discount-header">{{ 'cart.discounts' | trans }}</div>
            {% for discount in cart.totals.discount.discountItems %}
                <div class="cart__coupon-name">
                    {{ discount.name }}
                </div>
                <div class="cart__coupon-value">
                    - {{ discount.amount | price }}
                </div>
            {% endfor %}
        </div>
    {% endif %}






{% else %}
    <div class="cart-layer__empty">
        {{ 'cart.empty' | trans }}
    </div>
{% endif %}

{% include "@application/layout/partials/tracking.twig" %}
