<div class="row">
    {% block footer %}
        <div class="small-12 columns">
            <div class="callout">
                <div class="row">
                    <p class="small-12 medium-8 columns text-center medium-text-left">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    </p>
                    <div class="small-12 medium-4 columns">
                        <input type="text" placeholder="Subscribe">
                        <button class="button expanded">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-6 columns text-center medium-text-left">
            <div class="callout">
                <h5>Payment methods</h5>
                <img class="thumbnail" src="http://placehold.it/40x30?text=1">
                <img class="thumbnail" src="http://placehold.it/40x30?text=2">
                <img class="thumbnail" src="http://placehold.it/40x30?text=3">
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="small-12 medium-6 columns text-center medium-text-left">
            <div class="callout">
                <h5>Shipment methods</h5>
                <img class="thumbnail" src="http://placehold.it/40x30?text=1">
                <img class="thumbnail" src="http://placehold.it/40x30?text=2">
                <img class="thumbnail" src="http://placehold.it/40x30?text=3">
                <img class="thumbnail" src="http://placehold.it/40x30?text=4">
                <img class="thumbnail" src="http://placehold.it/40x30?text=5">
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="small-12 columns text-center medium-text-left">
            <div class="callout">
                <div class="row">
                    <ul class="small-12 medium-4 large-3 columns no-bullet">
                        <li><a href="{{ 'page.imprint.url'|trans }}" class="footer__impressum">{{ 'page.imprint.title'|trans }}</a></li>
                        <li><a href="{{ 'page.terms.url'|trans }}" class="footer__agb">{{ 'page.terms.title'|trans }}</a></li>
                        <li><a href="{{ 'page.privacy.url'|trans }}" class="footer__datenschutz">{{ 'page.privacy.title'|trans }}</a></li>
                    </ul>
                    <ul class="small-12 medium-4 large-3 columns no-bullet">
                        <li><a href="#">Link number B1</a></li>
                        <li><a href="#">Link number B2</a></li>
                        <li><a href="#">Link number B3</a></li>
                        <li><a href="#">Link number B4</a></li>
                    </ul>
                    <ul class="small-12 medium-4 large-3 columns no-bullet">
                        <li><a href="#">Link number C1</a></li>
                        <li><a href="#">Link number C2</a></li>
                        <li><a href="#">Link number C3</a></li>
                        <li><a href="#">Link number C4</a></li>
                    </ul>
                    <div class="large-3 columns show-for-large">
                        <h5>Social</h5>
                        <img class="thumbnail" src="http://placehold.it/40x40?text=1">
                        <img class="thumbnail" src="http://placehold.it/40x40?text=2">
                        <img class="thumbnail" src="http://placehold.it/40x40?text=3">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="callout hide-for-large">
                <div class="row">
                    <div class="small-12 columns text-center">
                        <h5>Social</h5>
                        <img class="thumbnail" src="http://placehold.it/40x40?text=1">
                        <img class="thumbnail" src="http://placehold.it/40x40?text=2">
                        <img class="thumbnail" src="http://placehold.it/40x40?text=3">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="small-12 columns text-center">
        <p class="callout">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            <br>Aenean commodo ligula eget dolor. Aenean massa.
            <br>&copy; ACME Company
        </p>
    </div>
</div>
