{{ render(path('newsletter/subscribe')) }}

<div class="small-12 medium-6 columns text-center medium-text-left">
    <div class="callout">
        <h5>{{ 'global.payment_providers' | trans }}</h5>
        {{ spyNavigation('PAYMENT_PROVIDERS', '@application/layout/navigation/providers.twig') }}
        <div class="clearfix"></div>
    </div>
</div>

<div class="small-12 medium-6 columns text-center medium-text-left">
    <div class="callout">
        <h5>{{ 'global.shipment_providers' | trans }}</h5>
        {{ spyNavigation('SHIPMENT_PROVIDERS', '@application/layout/navigation/providers.twig') }}
        <div class="clearfix"></div>
    </div>
</div>

<div class="small-12 columns text-center medium-text-left">
    <div class="callout">
        <div class="row">
            {{ spyNavigation('FOOTER_NAVIGATION', '@application/layout/navigation/footer.twig') }}
            <ul class="small-12 medium-4 large-3 columns no-bullet">
                <li><h5>{{ 'global.get_in_touch' | trans }}</h5></li>
                <li>+49 (0)30 2084983 50</li>
                <li><a href="mailto:info@spryker.com">info@spryker.com</a></li>
            </ul>
            <div class="large-3 columns show-for-large">
                <h5>{{ 'global.social' | trans }}</h5>
                {{ spyNavigation('SOCIAL_LINKS', '@application/layout/navigation/social-links.twig') }}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="callout hide-for-large">
        <div class="row">
            <div class="small-12 columns text-center">
                <h5>{{ 'global.social' | trans }}</h5>
                {{ spyNavigation('SOCIAL_LINKS', '@application/layout/navigation/social-links.twig') }}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
