<div class="callout">
    <div class="row">
        <div class="large-12 columns show-for-large">
            <ul class="menu align-right">
                <li>
                    <span class="float-left small-15 columns">
                        {{ spyPriceModeSwitch() }}
                    </span>
                </li>
                <li>
                    <span class="float-left small-15 columns">
                        {{ spyCurrencySwitch() }}
                    </span>
                </li>
                <li>
                    <span class="float-left small-15 columns">
                        {% include '@application/layout/partials/language-navigation.twig' %}
                    </span>
                </li>
                {% if app['cart.quantity'] > 0 %}
                    <li><span class="warning badge float-left">{{ app['cart.quantity'] }}</span></li>
                {% endif %}
                <li><a href="{{ url('cart') }}"><i class="fa fa-shopping-cart"></i>{{ 'global.cart' | trans }}</a></li>
                {% include '@application/layout/partials/customer-navigation.twig' %}
            </ul>
        </div>

        <div class="small-12 columns hide-for-large">
            {% include '@application/layout/partials/search-form.twig' %}
        </div>
    </div>
</div>

{{ spyNavigation('MAIN_NAVIGATION', '@application/layout/navigation/main.twig') }}
