{% spaceless %}
    <div class="cart__items js-cart-items">
        {% for item in cart.items %}
            {% include '@application/layout/content/product/cart/cart-item.twig' with {
                title: item.name,
                weight: '',
                quantity: item.quantity,
                price: item.grossPrice,
                sku: item.sku,
                groupKey: item.groupKey,
                product: products[item.sku]
            } %}
        {% endfor %}


        {% for expense in cart.expenses %}
            <div class="cart-position">
                <div class="cart-position__left"></div>
                <div class="cart-position__right">
                    {{ expense.name }}
                    <span class="cart-position__price">{{ expense.grossPrice | price }}<span>
                </div>
            </div>
        {% endfor %}


        {% block discounts %}
            {% include "@checkout/checkout/partials/discountList.twig" %}
        {% endblock %}


        <div class="cart-position cart-position--total">
            <div class="cart-position__left">
                <div class="voucher-input js-voucher-form" style="display: none;">
                    <div class="voucher-input__inner">
                        <input type="hidden" id="checkoutAddCouponUrl" value="{{ url('checkout/add-coupon') }}">
                        <input class="voucher-input__button" type="hidden" id="checkoutRemoveCouponUrl" value="{{ url('checkout/remove-coupon') }}">

                        {% include '@application/layout/common/forms/input.twig' with {
                            id: 'cart__coupon-code',
                            modifier: ' voucher-input__text'
                        } %}

                        {% include '@application/layout/common/forms/button.twig' with {
                            modifier: ' js-cart-use-coupon-button-code  voucher-input__button',
                            title: 'Gutschein einlösen',
                            type: 'button'
                        } %}
                    </div>
                </div>

                <div class="cart-position--voucher js-voucher-form-trigger">
                    Gutschein einlösen
                </div>
            </div>
            <div class="cart-position__right">
                {% if cart.totals is defined and cart.totals is not null %}
                    Gesamtbetrag
                    <span class="cart-position__price">{{ cart.totals.grandTotalWithDiscounts | price }}</span>
                {% endif %}
            </div>
        </div>


    </div>
{% endspaceless %}