{% form_theme form.billing_address '@checkout/checkout/theme.twig' %}
{% form_theme form.shipping_address '@checkout/checkout/theme.twig' %}
{% form_theme form '@checkout/checkout/theme.twig' %}

{% block content %}
    <div class="checkout">
        <div class="checkout__wrapper">
            <div class="checkout__cart js-checkout-cart">
                {% include "@application/layout/partials/cart/cart-list.twig" with {cart: cart} %}
            </div>

                <div class="checkout__form">
                    <section  id="backend-errors-section" class="checkout__form-block" style="display:none;">
                        <h1 class="form-block__heading">Bitte überprüfen Sie Ihre Eingabe.</h1>
                        <div id="backend-errors"></div>
                    </section>
                    <section class="checkout__form-block checkout__form-block--login js-checkout-login">
                        <h1 class="form-block__heading">Ich bin bereits Kunde</h1>
                        {% include "@application/layout/partials/login-register-form.twig" %}
                        <button class="login__skip cta">Ich bin Neukunde</button>
                    </section>
                    {{ form_start(form) }}
                    <section class="checkout__form-block js-form-block js-checkout-address js-checkout-collapsed">
                        <h1 class="form-block__heading">1. Addressangaben</h1>
                        {{ form_widget(form.email) }}
                        {{ form_widget(form.billing_address) }}
                        <input type="checkbox" name="different-delivery-address" id="different-delivery-address" class="padded js-delivery-address-checkbox">
                        <label for="different-delivery-address">Abweichende Lieferadresse</label>
                        {{ form_widget(form.shipping_address) }}
                        <button class="cta js-address-button" disabled>Weiter - Zahlungsart wählen</button>
                        <button class="js-edit-formblock form-block__edit">Adresse bearbeiten</button>
                    </section>
                    <section class="checkout__form-block js-form-block js-checkout-payment js-checkout-collapsed">
                        <h1 class="form-block__heading">2. Zahlungsart wählen</h1>
                        {{ form_widget(form.payment_method) }}
                        <button class="cta js-payment-button">Weiter - Prüfen und Kauf abschließen</button>
                        <button class="js-edit-formblock form-block__edit">Zahlungsart bearbeiten</button>
                    </section>
                    <section class="checkout__form-block checkout__form-block--confirm js-form-block js-checkout-confirm js-checkout-collapsed">
                        <h1 class="form-block__heading">3. Prüfen und Kauf abschließen</h1>
                        {% include "@application/layout/partials/cart/cart-list.twig" %}
                        <input type="text" name="checkout-voucher-code" class="padded confirm__voucher-code js-voucher-code" placeholder="Gutscheincode eingeben">
                        <button class="confirm__voucher-submit js-voucher-submit">Gutscheincode einlösen</button>
                        <div class="confirm__agb-submit">
                            {{ form_widget(form.terms) }}
                            <label for="{{ form.terms.vars.id }}" class="confirm__agb-label">Mit dem Klick auf di Schaltfläche “Jetzt kaufen” bestätige ich die <a href="/agb.html" target="_blank">AGB</a> von Sprylando</label>
                            {# <input type="submit" class="cta confirm__submit js-checkout-submit" value="Jetzt kaufen" disabled> #}
                            {{ form_widget(form.submit) }}
                        </div>
                    </section>
                    {{ form_end(form) }}
                </div>

        </div>
    </div>

{% endblock %}
