{% form_theme form.billing_address '@checkout/checkout/theme.twig' %}
{% form_theme form.shipping_address '@checkout/checkout/theme.twig' %}
{% form_theme form '@checkout/checkout/theme.twig' %}


{% block content %}
    <!-- TODO: split up huge file -->
    {% if cart.items|length > 0 %}


        <section class="checkout__form-block checkout__form-block--login js-checkout-login">
            {% if app.user is null %}
                <input type="hidden" name="mode" value="guest" />

                {% include "@application/layout/content/checkout/login-form.twig" %}
            {% endif %}
        </section>



        <form class="checkout js-formbackup" method="post" data-formbackup="checkout" {% if app.user is null %}style="display: none;"{% endif %}>

            <div class="checkout__headline">
                {{ 'page.checkout.headline' | trans}}
            </div>

            <div class="checkout__navigations">
                <div class="checkout__navigation">
                    <div class="checkout__navigation-step">1. Adresse</div>
                    <div class="checkout__navigation-option"></div>
                </div>
                <div class="checkout__navigation">
                    <div class="checkout__navigation-step">2. Zahlart</div>
                    <div class="checkout__navigation-option"></div>
                </div>
                <div class="checkout__navigation">
                    <div class="checkout__navigation-step">3. Bestätigung</div>
                    <div class="checkout__navigation-option"></div>
                </div>
            </div>

            <div class="checkout__contents">

                {{ form_start(form, {'attr': {'id': 'adyen-encrypted-form'}}) }}

                <section class="checkout__content checkout__content--account">

                    <div class="checkout__step-headline">Adresse</div>

                    <div id="invoice-address" class="checkout__form">
                        {% if app.user is null %}
                            {{ form_widget(form.email) }}
                        {% else %}
                            {% do form.email.setRendered %}
                        {% endif %}

                        {{ form_widget(form.billing_address) }}

                        <input type="hidden" id="addShipmentFee" value="{{ url('checkout/get-shipment-fee') }}">

                        {% include '@application/layout/common/forms/checkbox.twig' with {
                            name: 'different-delivery-address',
                            id: 'different-delivery-address',
                            label: ('page.checkout.address.billing-isnt-shipping-address' | trans),
                            value: '1'
                        } %}

                        <div class="checkout__subform">
                            <div class="checkout__subform-inner">
                                {{ form_widget(form.shipping_address) }}
                            </div>
                        </div>

                        <button type="button" class="button button--cta checkout__step-button">
                            {{ "page.checkout.address.next-step" | trans }}
                        </button>
                    </div>

                </section>


                <section class="checkout__content checkout__content--account">

                    <div class="checkout__step-headline">Zahlart</div>

                    <div class="checkout__form checkout__form--payment">

                        {% for payment_method in form.adyen_payment.payment_method %}

                            {{ form_widget(payment_method) }}
                            {{ form_label(payment_method) }}
                            {{ form_errors(payment_method) }}

                                {% if payment_method.vars.value == 'adyen.payment.method.sepa.directdebit' %}
                                    <div id="form_rechnung" class="checkout__subform checkout__subform--sepa">
                                        <div class="checkout__subform-inner">
                                            {{ form_widget(form.adyen_payment.payment_detail.ownerName) }}
                                            {{ form_widget(form.adyen_payment.payment_detail.bank_account_number) }}
                                            {{ form_widget(form.adyen_payment.payment_detail.bank_location_id) }}

                                            <div class="checkout__lock">Secure Connection</div>

                                        </div>
                                    </div>

                                {% elseif payment_method.vars.value == 'adyen.payment.method.paypal' %}

                                {% elseif payment_method.vars.value == 'adyen.payment.method.creditcard.cse' %}
                                    <div id="form_rechnung" class="checkout__subform checkout__subform--creditcard">
                                        <div class="checkout__subform-inner">
                                            {{ form_widget(form.adyen_payment.payment_detail.adyen_encrypted_form_number) }}
                                            {{ form_widget(form.adyen_payment.payment_detail.adyen_encrypted_form_cvc) }}
                                            {{ form_widget(form.adyen_payment.payment_detail.adyen_encrypted_form_holder_name) }}
                                            {{ form_widget(form.adyen_payment.payment_detail.adyen_encryption_key) }}

                                            <div class="input-validity">
                                                <label class="input__label" for="validity_month">Gültig bis*</label>

                                                {{ form_widget(form.adyen_payment.payment_detail.adyen_encrypted_form_expiry_month) }}

                                                <span class="input-validity__separator">/</span>

                                                {{ form_widget(form.adyen_payment.payment_detail.adyen_encrypted_form_expiry_year) }}

                                                <div class="checkout__lock">Secure Connection</div>
                                            </div>
                                        </div>
                                    </div>

                                {% elseif payment_method.vars.value == 'adyen.payment.method.german.bank.transfer' %}

                                {% endif %}

                        {% endfor %}

                        <button type="button" class="button button--cta checkout__step-button">
                            {{ "page.checkout.payment.next-step" | trans }}
                        </button>

                    </div>

                </section>


                <section class="checkout__content checkout__content--confirmation">

                    <div class="checkout__step-headline">Bestätigung</div>

                    <div class="checkout__cart">
                        {% include "@checkout/checkout/cartWithCouponTextfield.twig" %}
                    </div>

                    <div class="checkout__end">
                        <div class="checkout__newsletter" data-action="{{ url('NEWSLETTER_SUBSCRIPTION_ROUTE') }}">
                            <h3 class="checkout__newsletter-headline">Abonnieren Sie unseren Newsletter
    </h3>

                            <div class="checkout__newsletter-checkboxes">
                                {% include '@application/layout/common/forms/checkbox.twig' with {
                                    id: 'CheckoutNewsletterTypeDogsCheckbox',
                                    name: 'NewsletterTypeDogs',
                                    label: 'Für Hunde',
                                    modifier: 'checkbox--right checkbox--large',
                                    value: 1
                                } %}

                                {% include '@application/layout/common/forms/checkbox.twig' with {
                                    id: 'CheckoutNewsletterTypeCatsCheckbox',
                                    name: 'NewsletterTypeCats',
                                    label: 'Für Katzen',
                                    modifier: 'checkbox--right checkbox--large',
                                    value: 1
                                } %}
                            </div>
                        </div>

                        <button type="submit" class="button button--cta checkout__step-button">
                            {{ 'page.checkout.finalize.buy-now' | trans }}
                        </button>

                        <div class="checkout__terms-info">
                            Mit Ihrer Bestellung erklären Sie sich mit unseren <a href="/agb/">AGB</a>, Datenschutzbestimmungen und Widerrufsbestimmungen einverstanden. <br>
                            Als Kunde von PETS DELI erhalten Sie Produktempfehlungen per Mail. Sie können jederzeit unter office@petsdeli.de, unserer Hotline 030 - 208 98 48 99 oder dem Abmeldelink in jeder Produktempfehlungsmail widersprechen. <br>
                            Es entstehen Ihnen keine höheren Kosten als die nach den Basistarifen.
                        </div>
                    </div>

                </section>

                {{ form_end(form) }}

            </div>
        </div>


    {% else %}

        <article class="product product--justice-league">
            <section class="product__overview">
                <h2 class="product__name">{{ 'cart.empty' | trans }}</h2>
            </section>
        </article>

    {% endif %}



    {% if app.user.username is defined %}
        <script type="text/javascript">
            translator.addTranslation('app.user.username', '{{ app.user.username }}');
        </script>
    {% endif %}

    <script type="text/javascript" src="/js/vendor/adyen.encrypt.nodom.min.js"></script>


    <script type="text/javascript">
        // TODO: create makro
        translator.addTranslation('adyen.payment.method.german.bank.transfer', '{{ 'adyen.payment.method.german.bank.transfer' | trans }}');
        translator.addTranslation('adyen.payment.method.creditcard.cse', '{{ 'adyen.payment.method.creditcard.cse' | trans }}');
        translator.addTranslation('adyen.payment.method.sepa.directdebit', '{{ 'adyen.payment.method.sepa.directdebit' | trans }}');
        translator.addTranslation('adyen.payment.method.paypal', '{{ 'adyen.payment.method.paypal' | trans }}');
        translator.addTranslation('adyen.payment.method.sofortueberweisung', '{{ 'adyen.payment.method.sofortueberweisung' | trans }}');
        translator.addTranslation('adyen.payment.failed', '{{ 'adyen.payment.failed' | trans }}');
        translator.addTranslation('coupon.error_msg', '{{ 'coupon.error_msg' | trans }}');
        translator.addTranslation('coupon.success_msg', '{{ 'coupon.success_msg' | trans }}');
        translator.addTranslation('error.cart-total-is-too-low', '{{ 'error.cart-total-is-too-low' | trans }}');
    </script>

{% endblock %}
