{% extends "@application/layout/reduced.twig" %}

{% block content %}

    <link rel="stylesheet" href="/styles/checkout.css" />
    <script src="/scripts/app/checkout.js"></script>

    <section class="consumeHeight" id="checkout">

        {% include "@application/partials/flash_bag.twig" %}

        {{ form_start(form, {attr: {class: 'smartAddressForm', novalidate: 'novalidate'}}) }}
        {{ form_errors(form) }}

            <div class="step" data-step="1" style="display: block">
                {% include "@checkout/partials/shippingaddress.twig" with {'form': form} only %}
                {% include "@checkout/partials/payment.twig" with {'form': form} only %}
                {% include "@checkout/partials/checkout-cart.twig" %}
                <div class="clearRows"></div>
                <div class="unnecessary primary col col33 secondaryRow">
                    {% include "@checkout/partials/payment-methods.twig" with {'form': form, 'payoneCreditcardCheckData': payoneCreditcardCheckData, 'paymentMethodCollection': paymentMethodCollection} only %}
                    <div id="validationMessages" data-validation-message-required="{{ 'checkout.validation.message.required'|trans }}" data-validation-message-email="{{ 'checkout.validation.message.email'|trans }}"></div>
                </div>
            </div>

            <div class="step" data-step="2">
                {% include "@checkout/partials/summary.twig" with {} only %}
            </div>

        {{ form_end(form) }}
    </section>

    <!-- ********** PAYONE CC TEST BUTTON ********** --->

    <a href="#" id="test_button" class="button">[ PERFORM PAYONE CREDIT CARD CHECK ]</a>

    <script>
        $('#test_button').on('click', function (e) {
            e.preventDefault();
            performCreditCardCheck();
        });
    </script>

    <!-- ********** PAYONE CODE ********** --->


    <script src="/bundles/Payone/payonecreditcardcheck.js"></script>

    <script>
        function performCreditCardCheck() {
            var payoneConfig = {
                request        : '{{ payoneCreditcardCheckData.request }}',
                mode           : '{{ payoneCreditcardCheckData.mode }}',
                mid            : '{{ payoneCreditcardCheckData.mid }}',
                aid            : '{{ payoneCreditcardCheckData.aid }}',
                portalid       : '{{ payoneCreditcardCheckData.portalid }}',
                hash           : '{{ payoneCreditcardCheckData.hash }}',
                encoding       : '{{ payoneCreditcardCheckData.encoding }}',
                language       : '{{ payoneCreditcardCheckData.language }}',
                storecarddata  : '{{ payoneCreditcardCheckData.storecarddata }}'
            };
            var creditCardData = {
                ccCardHolder        : $("#salesOrder_payment_creditCardHolder").val(),
                ccNumber            : $("#salesOrder_payment_creditCardPan").val(),
                ccType              : $("#salesOrder_payment_creditCardType").val(),
                ccExpirationMonth   : $("#salesOrder_payment_creditCardExpirationMonth").val(),
                ccExpirationYear    : $("#salesOrder_payment_creditCardExpirationYear").val(),
                ccVerification      : $("#salesOrder_payment_creditCardCvc2").val()
            };
            PayoneCreditCardCheck.doRequest(payoneConfig, creditCardData, 'payoneResponseCallback');
        }
    </script>

    <script>
        function payoneResponseCallback(response) {
            if (response.get('status') === 'VALID') {
                var pseudoCardPan = response.get('pseudocardpan');
                var truncatedCardPan = response.get('truncatedcardpan');
                $("#salesOrder_payment_creditCardPseudoCardPan").val(pseudoCardPan);
            } else {
                var message = response.get('errormessage') + "\n" + response.get('customermessage');
                alert(message);
            }
        }
    </script>

    <!-- ********** END OF PAYONE CODE ********** --->




{% endblock %}


