{% extends "@application/layout/layout.twig" %}

{% block content %}
    <article class="product product--justice-league">
        <section class="product__overview">
            <h1>{{ 'page.order-success.heading'|trans }}</h1>

            <h2>{{ 'page.order-success.order-number-label'|trans }}&nbsp;{{ orderNr }}</h2>

            <p>{{ 'page.order-success.feedback-info-label'|trans }}&nbsp;{{ email }}</p>

            <h2>{{ 'page.order-success.overview'|trans }}</h2>

            {% include '@checkout/checkout/partials/order_items.twig' with { 'items': orderItemsData} only %}

            {% if true or isLoggedIn() %}
                <h2>{{ 'page.order-success.register-label' | trans }}</h2>

                {{ form_start(quickRegForm) }}
                {{ form_widget(quickRegForm) }}
                {{ form_end(quickRegForm) }}
            {% endif %}
        </section>

        <section class="product__main-image">
            <img src="/images/yay.png" alt="" style="width: 100%;"/>
        </section>
    </article>
{% endblock %}
