{% extends "@application/layout/layout.twig" %}

{% block content %}
<div class="container">
    <div class="row cms-page checkout-summary">
        <div class="col-xs-12 col-md-12">
            <h1>{{ 'checkout.step.summary.title' | trans }}</h1>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <table class="table">
            {% for item in quoteTransfer.items %}
                <tr>
                    <td>{{ item.name }} x {{ item.quantity }}</td>
                    <td>{{ item.sumGrossPriceWithProductOptions|price }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            &nbsp;
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 columns">
            <table class="table">
                <tr>
                    <td>Subtotal:</td>
                    <td>{{ quoteTransfer.totals.subtotal|price }}</td>
                </tr>
                <tr>
                    <td>Discount:</td>
                    <td>
                        - {{ quoteTransfer.totals.discounttotal|price }}
                    </td>
                </tr>
                <tr>
                    <td>Vouchers:</td>
                    <td>
                        {% for voucherDiscount in quoteTransfer.voucherDiscounts %}
                            <div>{{ voucherDiscount.displayName }} ({{ voucherDiscount.amount|price }})</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Cart rules:</td>
                    <td>
                        {% for ruleDiscount in quoteTransfer.cartRuleDiscounts %}
                            <div>{{ ruleDiscount.displayName }} - ({{ ruleDiscount.amount|price }})</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Payment method:</td>

                    <td>{{ quoteTransfer.payment.paymentMethod }}</td>
                    {% if quoteTransfer.payment.summaryPartialPath is defined %}
                        {% include '@' ~ quoteTransfer.payment.summaryPartialPath ~ '.twig' with {'quoteTransfer': quoteTransfer} %}
                    {% endif %}
                </tr>
                <tr>
                    <td>Shipment:</td>
                    <td>{{ quoteTransfer.shipment.method.defaultPrice|price }} - {{ quoteTransfer.shipment.method.name }}</td>
                </tr>
                <tr>
                    <td>Grand total:</td>
                    <td>{{ quoteTransfer.totals.grandtotal|price }}</td>
                </tr>
                <tr>
                    <td>Tax amount:</td>
                    <td>{{ quoteTransfer.totals.taxtotal.amount|price }} ({{ quoteTransfer.totals.taxtotal.taxRate }} %)</td>
                </tr>
            </table>
            <div style="clear:both;"></div>
        </div>

        {{ form(summaryForm, { 'attr': { 'class': 'form-horizontal checkout-form' }}) }}
        <a href="{{ previousStepUrl }}">{{ 'general.back.button' | trans }}</a>
    </div>
</div>
{% endblock %}
