{% if product.concrete_products is defined %}
    {% set productConcrete = product.concrete_products | first %}
    {% set image = productConcrete.attributes.media | first %}

    <div class="product-card">
        <a class="product-card__inner" href="{{ product.abstract_attributes.url }}">
            <div class="product-card__image">
                <!-- <div class="product-card__label"></div> -->
                <noscript>
                    <img width="403" height="403" src="{{ getProductImageUrl(image) }}" alt="Produktabbildung" />
                </noscript>
                <img class="js-lazy-image" data-image-src="{{ getProductImageUrl(image) }}" alt="Produktabbildung" />
            </div>
            <div class="product-card__content">
                <div class="product-card__infos">
                    <div class="product-card__info">
                        {{ product.abstract_name }}
                    </div>
                </div>
                <div class="product-card__footer">
                    <div class="product-card__pricing">
                        <div class="product-card__price-total">
                            {% if productConcrete.prices is defined %}
                                {{ productConcrete.prices.DEFAULT | price }}
                            {% else %}
                                {{ product.valid_price | price }}
                            {% endif %}
                        </div>
                        <div class="product-card__price-relative">
                            {% if productConcrete.attributes is defined %}
                                {% set unit = (productConcrete.attributes.weight_unit | trim) %}
                                {% set weight = productConcrete.attributes.weight %}
                                {% set base = (unit == 'ml' or unit == 'g' ? 100 : 1) %}
                                {% set absolute = productConcrete.prices.DEFAULT %}
                                {% set relative = (absolute / weight * base) %}

                                {{ weight }}{{ ('unit.' ~ unit) | trans }} ({{ relative | price }} / {{ base }}{{ ('unit.' ~ unit) | trans }})
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-card__detail">
                        {% include '@application/layout/common/forms/button.twig' with {
                            title: 'Zum Produkt',
                            type: 'button'
                        } %}
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endif %}
