<div class="callout cart-item">
    <div class="row">
        
        <div class="small-12 large-4 columns cart-item__section">
            <div class="row">
                <div class="small-12 medium-4 large-12 columns">
                    <strong class="cart-item__section-title">Product</strong>
                </div>
                <div class="small-12 medium-8 large-12 columns">
                    <ul class="no-bullet">
                        <li class="lead">{{ cartItem.name }} - <strong>{{ cartItem.unitGrossPrice | money }}</strong></li>
                        <li class="__secondary"><small>{{ 'cart.item.sku' | trans }} {{cartItem.sku}}</small></li>
                        {% set imageSet = cartItem.imageSets | first %}
                            {% if imageSet is not empty  %}
                                {% set productImage = imageSet.productImages | first %}
                                {% if productImage is not empty  %}
                                    <li>
                                        <img class="thumbnail cart-item__image" src="{{ productImage.externalUrlLarge }}" />
                                    </li>
                                {% endif %}
                            {% endif %}
                        <li>
                            <a href="/cart/remove/{{cartItem.sku}}/{{cartItem.groupKey}}">
                                &times; <small>remove</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="small-12 large-8 columns">
            <div class="row">
    
                {% if bundleItems is defined %}
                    <div class="small-12 large-6 columns cart-item__section">
                        <div class="row">
                            <div class="small-12 medium-4 large-12 columns">
                                <strong class="cart-item__section-title">{{ 'cart.item.bundle.description' | trans }}</strong>
                            </div>
                            <div class="small-12 medium-8 large-12 columns">
                                <ul class="no-bullet">
                                    {% for bundleItem in bundleItems %}
                                        <li> - {{ bundleItem.quantity }} x {{ bundleItem.name }}  </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}

                    {% set itemAttributes = attribute(attributes, cartItem.sku) %}
                    {% set itemSuperAttributes = attribute(itemAttributes, 'attributes') %}

                    <form method="POST" action="{{ path('cart/update', {'sku': cartItem.sku }) }}">

                        <div class="small-12 large-6 columns cart-item__section">
                            <div class="row">
                                <div class="small-12 medium-4 large-12 columns">
                                    <strong class="cart-item__section-title">Product variants</strong>
                                </div>
                                {% for attributeName, attributeOptions in itemSuperAttributes %}

                                    <p class="small-12 medium-8 large-12 columns">
                                        <div  data-component="cart-item">
                                            {% if attributeOptions is iterable %}
                                                <p class="small-12 medium-8 large-12 columns">
                                                    {{ attributeName }}:
                                                </p>
                                                <select class="js-cart-item-select">

                                                    <option  value="">
                                                        {{ 'Please select' }}
                                                    </option>
                                                        {% for option, selected in attributeOptions %}
                                                            <option  value="{{ option }}" {% if selected %}selected{% endif %}>
                                                                {{ option }}
                                                            </option>
                                                        {% endfor %}
                                                </select>
                                                <input name="selectedAttributes[{{ attributeName }}]" type="hidden">
                                            {% else %}
                                                <p class="small-12 medium-8 large-12 columns">
                                                    <label>{{ attributeName }}: {{ attributeOptions }} </label>
                                                </p>
                                                <a href="{{ url("cart") }}">reset</a>
                                                <input name="selectedAttributes[{{ attributeName }}]" type="hidden" value="{{ attributeOptions }}">
                                            {% endif %}

                                        </div>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                {% endif %}
    
                <div class="small-12 large-6 columns cart-item__section">
                    <div class="row">
                        <div class="small-12 medium-4 large-12 columns">
                            <strong class="cart-item__section-title">{{ 'cart.item.option.description' | trans }}</strong>
                        </div>
                        <div class="small-12 medium-8 large-12 columns">

                            {% if cartItem.productOptions|length > 0 %}
                                <ul class="no-bullet">
                                    {% for productOption in cartItem.productOptions %}
                                        <li> + {{ productOption.value | trans }} <strong>{{ productOption.unitGrossPrice | money }}</strong> </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
                <div class="small-12 large-6 columns cart-item__section">
                    <div class="row">
                        <div class="small-12 medium-4 large-12 columns">
                            <strong class="cart-item__section-title">{{ 'cart.item_quantity' | trans }}</strong>
                        </div>
                        <div class="small-12 medium-8 large-12 columns">
                            <form method="POST" action="{{ path('cart/change/quantity', {'sku': cartItem.sku }) }}">
                                <div class="input-group">
                                    <input class="input-group-field" type="number" value="{{cartItem.quantity}}" name="quantity">
                                    <div class="input-group-button">
                                        <button type="submit" class="button expanded __no-margin-bottom"><i class="fa fa-refresh"></i></button>
                                    </div>
                                </div>
                                <input type="hidden" value="{{cartItem.groupKey}}" name="groupKey">
                            </form>
                        </div>
                    </div>
                </div>
    
                <div class="small-12 large-6 columns cart-item__section">
                    <div class="row">
                        <div class="small-12 medium-4 large-12 columns">
                            <strong class="cart-item__section-title">Total price</strong>
                        </div>
                        <div class="small-12 medium-8 large-12 columns">
                            <h3><strong>{{ cartItem.sumGrossPrice | money }} </strong></h3>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
