<div class="callout">
    <a href="/cart/remove/{{cartItem.sku}}/{{cartItem.groupKey}}" class="close-button float-right">&times;</a>
    <div class="row">
        <div class="small-12 columns">
            <div class="row align-top">
                <div class="small-12 columns text-center medium-text-left">
                    <ul class="no-bullet __no-margin-bottom">
                        <li class="lead">
                            {{ cartItem.name }} - <strong><small>{{ cartItem.unitPrice | money }}</small></strong>
                        </li>
                            <li class="__secondary">{{ 'cart.item.sku' | trans }} {{cartItem.sku}}</li>

                        {% if bundleItems is defined %}
                            <br />
                            <li>{{ 'cart.item.bundle.description' | trans }}</li>

                            {% for bundleItem in bundleItems %}
                                <li> - {{ bundleItem.quantity }} x {{ bundleItem.name }}  </li>
                            {% endfor %}
                        {% endif %}

                        {% if cartItem.productOptions|length > 0 %}
                            <li>{{ 'cart.item.option.description' | trans }}</li>
                            {% for productOption in cartItem.productOptions %}
                               <li> + {{ productOption.value | trans }} <strong>{{ productOption.unitPrice | money }}</strong> </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <form class="row align-right align-middle" method="POST" action="{{ path('cart/change/quantity', {'sku': cartItem.sku }) }}">
                <div class="columns">
                    <br>{{ 'cart.item.item_total' | trans }} -  <strong>{{ cartItem.sumSubtotalAggregation | money }}</strong>
                </div>
                <div class="small-4 columns">
                    <label>{{ 'cart.item_quantity' | trans }}:
                        <div class="input-group">
                            <input class="input-group-field" type="number" value="{{cartItem.quantity}}" name="quantity">
                            <div class="input-group-button">
                                <button type="submit" class="button expanded __no-margin-bottom"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </label>
                </div>
                <input type="hidden" value="{{cartItem.groupKey}}" name="groupKey">
            </form>
        </div>
    </div>
</div>
