<div class="callout">
    <a href="/cart/remove/{{cartItem.sku}}/{{cartItem.groupKey}}" class="close-button float-right">&times;</a>
    <div class="row">
        <div class="small-12 columns">
            <div class="row align-top">
                <div class="small-12 columns text-center medium-text-left">
                    <ul class="no-bullet __no-margin-bottom">
                        <li class="lead">
                            {{ cartItem.name }} - <strong>{{ cartItem.unitGrossPriceWithProductOptions | money }}</strong>
                        </li>
                        <li class="__secondary">{{ 'product.attribute.sku' | trans }} {{cartItem.sku}}</li>

                        {% if bundleItems is defined %}
                            <br />
                            <li>{{ 'This bundle contains the following items (these items may ship separately):' | trans }}</li>

                            {% for bundleItem in bundleItems %}
                                <li> - {{ bundleItem.quantity }} x {{ bundleItem.name }}  </li>
                            {% endfor %}
                        {% endif %}

                        {% if cartItem.productOptions|length > 0 %}
                            <li>{{ 'product.product_options' | trans }}</li>
                            {% for productOption in cartItem.productOptions %}
                               <li> + {{ productOption.value | trans }} <strong>{{ productOption.unitGrossPrice | money }}</strong> </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <form class="row align-right" method="POST" action="{{ path('cart/change/quantity', {'sku': cartItem.sku }) }}">
                <div class="small-6 medium-2 columns">
                    <label class="__no-margin-bottom">
                        {{ 'cart.item_quantity' | trans }}:
                        <input class="__no-margin-bottom" type="number" value="{{cartItem.quantity}}" name="quantity">
                    </label>
                </div>
                <div class="small-6 medium-2 columns align-bottom">
                    <button type="submit" class="button expanded __no-margin-bottom">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <input type="hidden" value="{{cartItem.groupKey}}" name="groupKey">
            </form>
        </div>
    </div>
</div>
