<div class="callout cart-item">
    <div class="row">
        {# Product Image #}

        {% set productImage = cartItem.images | first %}
        {% if productImage is not empty %}
            <div class="cart-item__image-container small-3 large-2 columns">
                <img class="thumbnail cart-item__image" src="{{ productImage.externalUrlLarge }}"/>
            </div>
        {% else %}
            <div class="small-3 large-2 columns text-center">
                <small>{{ 'global.no_image_available' | trans }}</small>
            </div>
        {% endif %}

        <div class="small-9 large-expand columns">
            <ul class="no-bullet">
                {# General data #}
                <li class="lead">{{ cartItem.name }}</li>
                <li class="__secondary">
                    <small>{{ 'cart.item.sku' | trans }} {{ cartItem.sku }}</small>
                </li>

                {% if bundleItems is defined %}
                    {# Product Bundles #}
                    <li>
                        <strong>{{ 'cart.item.bundle.description' | trans }}</strong>
                        <ul>
                            {% for bundleItem in bundleItems %}
                                <li>{{ bundleItem.quantity }} x {{ bundleItem.name }}  </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                  {% if promotionItem is defined %}
                      {% include '@DiscountPromotion/discount-promotion/product-variants.twig' %}
                  {% else %}
                      {% include '@Cart/cart/parts/cart-product-variants.twig' %}
                  {% endif %}
                {% endif %}
            </ul>
        </div>

        {# Prices and Product Options #}
        {% if promotionItem is defined %}
            {% include '@DiscountPromotion/discount-promotion/item-prices.twig' %}
        {% else %}
            {% include '@Cart/cart/parts/cart-item-prices.twig' %}
        {% endif %}

        {# Quantity #}
        <div class="small-4 medium-3 large-2 columns">
            <ul class="no-bullet">
                {% if promotionItem is defined %}
                    {% include '@DiscountPromotion/discount-promotion/add-to-cart.twig' %}
                {% else %}
                    {% include '@Cart/cart/parts/cart-add-to-cart.twig' %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
