{{ form_start(voucherForm) }}
    <div class="callout">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h5>{{ voucherForm.voucher_code.vars.label | trans }}</h5>
                {{ form_widget(voucherForm.voucher_code) }}
                {{ form_errors(voucherForm.voucher_code) }}
            </div>
            <div class="small-12 medium-4 columns align-bottom">
                <button class="button expanded info" type="submit"><i class="fa fa-gift"></i>{{ 'Redeem code' | trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(voucherForm) }}
