{% set image = product.images | first %}

<a class="row suggestions-panel__product js-product js-navigable" href="{{ product.url }}">
    <span class="columns">
        {% if image %}
            <img class="thumbnail" src="{{ image.external_url_small }}">
        {% endif %}
    </span>

    <span class="small-9 columns">
        {{ product.abstract_name }}
        <br>
        {% if product.prices.ORIGINAL is defined %}
            <span class="catalog-price__price-original">{{ product.prices.ORIGINAL | money }}</span> <span class="catalog-price__price-reduced">{{ product.price | money }}</span>
        {% else %}
            <strong>{{ product.price | money }}</strong>
        {% endif %}
    </span>
</a>
