<label>{{ form.salutation.vars.label | trans }}</label>
<div class="field">
    {{ form_widget(form.salutation, { 'attr': {'placeholder': form.salutation.vars.label | trans } }) }}
    {{ form_errors(form.salutation) }}
</div>

<label>{{ form.first_name.vars.label | trans }}</label>
<div class="field">
    {{ form_widget(form.first_name, { 'attr': {'placeholder': form.first_name.vars.label | trans } }) }}
    {{ form_errors(form.first_name) }}
</div>

<label>{{ form.last_name.vars.label | trans }}</label>
<div class="field">
    {{ form_widget(form.last_name, { 'attr': {'placeholder': form.last_name.vars.label | trans } }) }}
    {{ form_errors(form.last_name) }}
</div>

<label>{{ form.email.vars.label | trans }}</label>
<div class="field">
    {{ form_widget(form.email, { 'attr': {'placeholder': form.email.vars.label | trans } }) }}
    {{ form_errors(form.email) }}
</div>

<div class="input-row check-row">
    {{ form_widget(form.accept_terms) }}
    <label for="registerForm_accept_terms">{{ form.accept_terms.vars.label | trans }}</label>
    {{ form_errors(form.accept_terms) }}
</div>

{{ form_widget(form.is_guest) }}

<div class="frame buttons cfx">
    <input type="submit" value="{{ 'forms.submit.register' | trans }}" />
</div>
